<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUY NOW</title>

    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/body.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/plus-and-minus.css">
    <script src="./js/header.js"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header>
        <div class="global-header-container text13">
            <div class="global-header-top-group font-500">
                <div
                    class="container d-flex align-items-center justify-content-between position-relative">
                    <div
                        class="global-header-left d-flex align-items-center">
                        <div class="item adress-hover"> <i
                                class="fa-solid fa-map-pin"></i>Địa chỉ liên
                            hệ
                            <div class="header-content-holder-left">
                                <div class="support-item">
                                    <p class="title">Địa chỉ</p>
                                    <a
                                        href="https://goo.gl/maps/8E9w4YJfEFf9hybN9"
                                        target="_blank">
                                        <i
                                            class="green fas fa-map-marker-alt"
                                            style="color: #29A07E;"
                                            aria-hidden="true"></i>
                                        <span>Địa chỉ: Số 15 Yên Lãng,
                                            Phường Trung Liệt, Quận Đống Đa,
                                            Hà Nội</span>
                                    </a>
                                    <a href="tel:0349296461">
                                        <i class="green fas fa-phone-alt"
                                            style="color: #29A07E;"
                                            aria-hidden="true"></i>
                                        <span>Số điện thoại : 0349296461</span>
                                    </a>
                                    <a
                                        href="mailto:anh.nguyenhai213@gmail.com">
                                        <i class="green fas fa-envelope"
                                            style="color: #29A07E;"
                                            aria-hidden="true"></i>
                                        <span>Địa chỉ email :
                                            Lacdaushop@gmail.com</span>
                                    </a>
                                    <a href="javascript:void(0)">
                                        <span>Giờ mở cửa: 8h30 - 21h30</span>
                                    </a>
                                </div>
                                <div class="support-item">
                                    <div class="position-relative loaded"
                                        id="js-load-map"><iframe
                                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3724.4854518231614!2d105.8163974!3d21.0132533!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab7d33b90bd5%3A0x9d9d6f5da32dda1e!2zMTUgUC5Zw6puIEzDo25nLCBUcnVuZyBMaeG7h3QsIMSQ4buRbmcgxJBhLCBIw6AgTuG7mWk!5e0!3m2!1svi!2s!4v1678960947364!5m2!1svi!2s"
                                            width="600" height="450"
                                            style="border:0;"
                                            allowfullscreen loading="lazy"
                                            referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                                </div>
                            </div>
                        </div>

                        <div class="item hotline-hover"> <i
                                class="fa-solid fa-headset"></i> Hotline
                            trực tuyến
                            <div class="header-content-holder-right">
                                <div class="support-item">
                                    <p class="title">Hotline</p>

                                    <a href="tel:0349296461">
                                        <i class="green fas fa-phone-alt"
                                            aria-hidden="true"></i>
                                        <span>Số điện thoại : 0349296461</span>
                                    </a>

                                    <a
                                        href="mailto:anh.nguyenhai213@gmail.com">
                                        <i class="green fas fa-envelope"
                                            aria-hidden="true"></i>
                                        <span>Địa chỉ email :
                                            Lacdaushop@gmail.com</span>
                                    </a>
                                </div>

                                <div class="support-item">
                                    <p class="title">Phòng kinh doanh - Tư
                                        vấn</p>

                                    <a href="tel:0349296461">
                                        <i class="green fas fa-phone-alt"
                                            aria-hidden="true"></i>
                                        <span>Hotline : 0349.296.461</span>
                                    </a>

                                    <a href="https://zalo.me/0349296461"
                                        target="_blank">
                                        <i class="green fas fa-phone-alt"
                                            aria-hidden="true"></i>
                                        <span span>Zalo : 0349.296.461</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <a href="https://shopee.vn/SA-35610180"
                            class="title"> <i class="fa-brands fa-shopify"></i>
                            Shopee</a>

                        <a href="https://www.lazada.vn/shop/lacdaushop/"
                            class="title"> <i class="fa-solid fa-store"></i>
                            Lazada</a>

                        <a href="https://www.instagram.com/lac.dau/"
                            target="_blank" class="title">
                            <i class="fab fa-instagram"></i> Instagram
                        </a>
                        <a href="https://www.tiktok.com/@lacdaustore"
                            target="_blank" class="title">
                            <i class="fab fa-tiktok"></i> Tiktok
                        </a>
                        <a
                            href="https://www.youtube.com/channel/UC0kL-L4W-QBwgwqCv408J2A"
                            target="_blank"
                            class="title">
                            <i class="fab fa-youtube"></i> Youtube
                        </a>
                        <a href="https://www.facebook.com/lacdaustore"
                            target="_blank" class="title">
                            <i class="fab fa-facebook-square"></i> Facebook
                        </a>
                    </div>
                    <div class="global-header-right">
                        <a href="/tin-tuc" class="title"> <i
                                class="fa-solid fa-bullhorn"></i> Tin tức</a>
                        <i class="fa-solid fa-circle-user"></i>
                        <% if(typeof data_user != "undefined" ){ %>
                            <a href="/tai-khoan" class="title"> Xin chào, <%= data_user[0].username %></a>
                        <% }else{ %>

                        <a href="/dang-ky">Đăng ký</a> &nbsp;/&nbsp;
                        <a href="/dang-nhap">Đăng nhập</a>
                        <% } %>
                    </div>
                </div>

            </div>
            <div class="global-header-bottom-group">
                <div
                    class="container d-flex align-items-center justify-content-between position-relative">
                    <a href="/trang-chu" class="header-left-group">
                        <img src="./assets/default/images/logo.png"
                            alt="Lắc đầu"
                            class="d-block m-auto h-auto w-auto"></a>
                    <div class="header-menu-group">
                        <div class="title">
                            <i class="fa-solid fa-list"></i> DANH MỤC
                        </div>

                    </div>

                    <div class="header-search-group">
                        <form method="get" action="/tim" name="search"
                            class="search-input-group bg-white position-relative">
                            <button type="submit" class="btn-search"><i
                                    class="fa-solid fa-magnifying-glass"></i></button>
                            <input type="text" id="js-seach-input" name="q"
                                placeholder="Bạn cần tìm gì?" value
                                autocomplete="off" class="text-search">
                        </form>
                    </div>
                    <div class="header-right-group">
                        <div class="item"
                            style="border-radius: 0px !important;">
                            <i class="fa-solid fa-phone-volume fa-bounce"
                                style="color: #29A07E;"></i>
                            <a href="tel:0349.296.461" class="text font-700">
                                <span span class="font-400">Hotline</span>
                                <b>0349.296.461</b>
                            </a>
                        </div>
                        <div class="item">
                            <i class="fa-solid fa-bolt-lightning"
                                style="color: #29A07E;"></i>
                            <a
                                href="https://www.messenger.com/t/1684408595122637"
                                target="_blank" class="text font-500">Tư vấn
                                trực tiếp</a>
                        </div>
                        <div class="item item-cart position-relative"
                            id="cart">
                            <a href="/cart" class="icons icon-cart">
                                <% if(typeof data_user != "undefined" ){ %>
                                <span class="cart-count js-cart-count" id="cart-count"><%= count_cart[0].so_luong %></span>
                                <% }else{ %>
                                <span class="cart-count js-cart-count" id="cart-count">0</span>
                                <% } %>
                            </a>
                            <a href="/cart" class="font-700">Giỏ hàng</a>
                            <div class="header-cart-hover loaded" id="js-header-cart-holder">
                                <% if(typeof data_cart != "undefined" ){ %>
                                    <div class="cart-items-holder">
                                        <% data_cart.forEach(item=> { %>
                                        <div class="cart-item">
                                            <a href="/pad-33-sleep-bear" class="cart-img">
                                                <img src="<%= item.anh%>">
                                                
                                            </a>
                                            <div class="cart-text">
                                                <a href="/pad-33-sleep-bear" class="d-block font-700" style="margin-bottom: 5px"><%= item.ten%></a>
                                            
                                                <p class="m-0 d-flex justify-content-between">
                                                    <b>x1</b>
                                                    <b class="red"><%= item.gia_tien%>.000đ</b>
                                                </p>
                                            </div>
                                        </div>
                                        <% }); %>
                                        <!-- <div class="cart-item">
                                            <a href="/pad-22-many-cat" class="cart-img">
                                                <img src="./assets/media/product/250-1391-53424e5247a21b79417d566bc2869499.jpg">
                                                
                                            </a>
                                            <div class="cart-text">
                                                <a href="/pad-22-many-cat" class="d-block font-700" style="margin-bottom: 5px; justify-content: start;">PAD 22 MANY CAT</a>
                                                
                                                  
                                              
                                                <p class="m-0 d-flex justify-content-between">
                                                    <b>x1</b>
                                                    <b class="red">35.000 đ</b>
                                                </p>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="cart-price-hover">
                                        <p class="grey font-300 m-0 text-right">
                                            Tổng tiền hàng
                                            (<span class="red"><span class="js-cart-count"><%= count_cart[0].so_luong %></span> sản phẩm</span>):
                                            <span class="red text-18 font-600" style="vertical-align: top;">
                                                <%= tong_gia_tien[0].gia_tien %>.000đ
                                                
                                            </span>
                                        </p>
                                
                                        <a href="/cart" class="d-block text-center text-white btn-goCart"> THANH TOÁN NGAY </a>
                                    </div>

                                <% } else{ %>
                                    <b class="d-block text-center p-4">Có 0 sản phẩm trong giỏ hàng</b>
                               
                                <% } %>
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>

    <main>
        <div class="homepage">
            <div class="global-breadcrumb container">
    
                <ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="ul clearfix">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/trang-chu" itemprop="item" class="nopad-l">
                            <span itemprop="name">Trang chủ</span>
                        </a> 
                        <meta itemprop="position" content="1">
                    </li>
                    
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/cart" itemprop="item" class="nopad-l">
                            <span itemprop="name"> Thông tin giỏ hàng </span> 
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                </ol>
                
            </div>

            <% if(typeof data_user != "undefined" ){ %>
            <div class="cart-page container">
                <form method="post" action="">
                    <div class="cart-items-container">
                        <div class="cart-item-header">
                            <div class="item-header-title d-flex align-items-center justify-content-between font-600">
                                <p class="m-0"> THÔNG TIN GIỎ HÀNG </p>
                                <div>
                                    <a href="/trang-chu" class="goHome d-inline-block "><i class="fas fa-long-arrow-alt-left" aria-hidden="true"></i> CHỌN TIẾP SẢN PHẨM KHÁC </a>
                                    <a href="javascript:void(0);" class=" d-inline-block js-delete-cart" onclick="$('.js-delete-item').click()"> XOÁ GIỎ HÀNG </a>
                                </div>
                            </div>
                            <div class="col-header cart-col-row text-15 font-300">
                                <div class="cart-col-1"> Sản phẩm </div>
                                <div class="cart-col-2"> Đơn giá </div>
                                <div class="cart-col-3"> Số lượng </div>
                                <div class="cart-col-4"> Số tiền </div>
                                <div class="cart-col-5"> Thao tác </div>
                            </div>
                        </div>

                        <div class="cart-item-body">
                            <div class="item-cart cart-col-row js-item-row" data-variant_id="0" data-item_id="750" data-item_type="product">
                                <div class="cart-col-1">
                                    <a href="/pad-33-sleep-bear" class="img" name="image">
                                        <img src="<%= data_product[0].anh %>">                  
                                    </a>
            
                                    <div class="text">
                                        <a href="/pad-33-sleep-bear"  class="d-inline-block font-700"> <%= data_product[0].ten %> </a>                 
                                        <span class="d-block p-info" name="ma_san_pham"> <%= data_product[0].ma_san_pham %> </span>
                                        <input type="text" name="ma_san_pham"  value="<%= data_product[0].ma_san_pham %> " class="form-input" style="display: none;" >
                                    </div>
                                </div>
            
                                <div class="cart-col-2">
                                    <input type="hidden" class="js-buy-price"  data-price="60000"> 
                                    <%= data_product[0].gia_tien %>.000đ
                                </div>
            
                                <div class="cart-col-3 clearfix">
                                    <a href="javascript:void(0)" class="quantity-change js-quantity-change minus-btn" onclick="handleMinus('1')" > - </a>
                                    <input type="text" name="amount" value="1" id="1" class="quantity-buy js-buy-quantity js-quantity-change"  data-stock="998" readonly>
                                    <a href="javascript:void(0)" class="quantity-change js-quantity-change plus-btn" onclick="handlePlus('1')"> + </a>
                                </div>
            
                                <div class="cart-col-4 font-600 red">
                                    <span class="js-total-item-price" id="price_1">
                                        <%= data_product[0].gia_tien %>  
                                    </span>.000đ
                                </div>
            
                                <div class="cart-col-5">
                                    <a href="javascript:void(0)" class="js-delete-item"> <i class="fa fa-trash-o" aria-hidden="true"></i> Xoá </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class="cart-customer-container clearfix d-block">
                        <div class="customer-left">
                            <p class="title font-600 text-15"> ĐỊA CHỈ NHẬN HÀNG </p>
                            <div class="d-flex flex-wrap">
                                <div class="form-info-group">
                                    <input type="text" placeholder="Họ và tên" name="user_info[name]" id="buyer_name" value="<%= data_user[0].username %>">
            
                                    <input type="text" placeholder="Email" name="user_info[email]" id="buyer_email" value="<%= data_information[0].email %>">
            
                                    <input type="text" placeholder="Số điện thoại" name="user_info[tel]" id="buyer_tel" value="<%= data_information[0].phone %>">
            
                                    <select name="province" onchange="getProvince(this.value);" class="form-input" >
                                                   
                                        <%if(data_information[0].province == ""){ %>
                                            <option selected>Chọn thành phố</option>     
                                        <% }else{ %> 
                                       
                                            <option value="<%= data_information[0].province %>" selected><%= data_information[0].province %></option>   
                                            <% } %>              
                                        
                                        <option value="Hà Nội" > Hà Nội </option>
                                        
                                        <option value="TP HCM"> TP HCM </option>
                                        
                                        <option value="Hải Phòng"> Hải Phòng </option>
                                        
                                        <option value="Đà Nẵng"> Đà Nẵng </option>
                                        
                                        <option value="An Giang"> An Giang </option>
                                        
                                        <option value="Bà Rịa-Vũng Tàu"> Bà Rịa-Vũng Tàu </option>
                                        
                                        <option value="Bình Dương"> Bình Dương </option>
                                        
                                        <option value="Bình Phước"> Bình Phước </option>
                                        
                                        <option value="Bình Thuận"> Bình Thuận </option>
                                        
                                        <option value="Bình Định"> Bình Định </option>
                                        
                                        <option value="Bạc Liêu"> Bạc Liêu </option>
                                        
                                        <option value="Bắc Giang"> Bắc Giang </option>
                                        
                                        <option value="Bắc Kạn"> Bắc Kạn </option>
                                        
                                        <option value="Bắc Ninh"> Bắc Ninh </option>
                                        
                                        <option value="Bến Tre"> Bến Tre </option>
                                        
                                        <option value="Cao Bằng"> Cao Bằng </option>
                                        
                                        <option value="Cà Mau"> Cà Mau </option>
                                        
                                        <option value="Cần Thơ"> Cần Thơ </option>
                                        
                                        <option value="Gia Lai"> Gia Lai </option>
                                        
                                        <option value="Hà Giang"> Hà Giang </option>
                                        
                                        <option value="Hà Nam"> Hà Nam </option>
                                        
                                        <option value="Hà Tĩnh"> Hà Tĩnh </option>
                                        
                                        <option value="Hòa Bình"> Hòa Bình </option>
                                        
                                        <option value="Hải Dương"> Hải Dương </option>
                                        
                                        <option value="Hậu Giang"> Hậu Giang </option>
                                        
                                        <option value="Hưng Yên"> Hưng Yên </option>
                                        
                                        <option value="Khánh Hòa"> Khánh Hòa </option>
                                        
                                        <option value="Kiên Giang"> Kiên Giang </option>
                                        
                                        <option value="Kon Tum"> Kon Tum </option>
                                        
                                        <option value="Lai Châu"> Lai Châu </option>
                                        
                                        <option value="Lào Cai"> Lào Cai </option>
                                        
                                        <option value="Lâm Đồng"> Lâm Đồng </option>
                                        
                                        <option value="Lạng Sơn"> Lạng Sơn </option>
                                        
                                        <option value="Long An"> Long An </option>
                                        
                                        <option value="Nam Định"> Nam Định </option>
                                        
                                        <option value="Nghệ An"> Nghệ An </option>
                                        
                                        <option value="Ninh Bình"> Ninh Bình </option>
                                        
                                        <option value="Ninh Thuận"> Ninh Thuận </option>
                                        
                                        <option value="Phú Thọ"> Phú Thọ </option>
                                        
                                        <option value="Phú Yên"> Phú Yên </option>
                                        
                                        <option value="Quảng Bình"> Quảng Bình </option>
                                        
                                        <option value="Quảng Nam"> Quảng Nam </option>
                                        
                                        <option value="Quảng Ngãi"> Quảng Ngãi </option>
                                        
                                        <option value="Quảng Ninh"> Quảng Ninh </option>
                                        
                                        <option value="Quảng Trị"> Quảng Trị </option>
                                        
                                        <option value="Sóc Trăng"> Sóc Trăng </option>
                                        
                                        <option value="Sơn La"> Sơn La </option>
                                        
                                        <option value="Tây Ninh"> Tây Ninh </option>
                                        
                                        <option value="Thanh Hóa"> Thanh Hóa </option>
                                        
                                        <option value="Thái Bình"> Thái Bình </option>
                                        
                                        <option value="Thái Nguyên"> Thái Nguyên </option>
                                        
                                        <option value="Thừa Thiên-Huế"> Thừa Thiên-Huế </option>
                                        
                                        <option value="Tiền Giang"> Tiền Giang </option>
                                        
                                        <option value="Trà Vinh"> Trà Vinh </option>
                                        
                                        <option value="Tuyên Quang"> Tuyên Quang </option>
                                        
                                        <option value="Vĩnh Long"> Vĩnh Long </option>
                                        
                                        <option value="Vĩnh Phúc"> Vĩnh Phúc </option>
                                        
                                        <option value="Yên Bái"> Yên Bái </option>
                                        
                                        <option value="Đắk Lắk"> Đắk Lắk </option>
                                        
                                        <option value="Đồng Nai"> Đồng Nai </option>
                                        
                                        <option value="Đồng Tháp"> Đồng Tháp </option>
                                        
                                        <option value="Điện Biên"> Điện Biên </option>
                                        
                                        <option value="Đăk Nông"> Đăk Nông </option>
                                        
                                    </select>
                                  
            
                                    <input type="text" placeholder="Toà nhà, Tên đường..." id="buyer_address" name="user_info[address]" value="<%= data_information[0].address %>">
                                </div>

                                <div class="form-info-group clearfix">
                                    <textarea placeholder="Nhập ghi chú cho chúng tôi" name="user_info[note]" id="buyer_note"></textarea>
                                    <div class="cart-btn-group clearfix">
                                        <a href="javascript:void(0)" onclick="downloadCartImage()"><i class="far fa-image" aria-hidden="true"></i> TẢI ẢNH ĐƠN HÀNG</a>
                                        <a href="/export_file.php?file_type=xls&amp;content_type=shopping-cart" target="_blank" rel="nofollow"><i class="far fa-file-excel" aria-hidden="true"></i> TẢI FILE EXCEL</a>
                                        <a href="/print/user.php?view=cart" target="_blank" rel="nofollow"><i class="fas fa-print" aria-hidden="true"></i> IN BÁO GIÁ</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="customer-right">
                            <p class="title  font-600 text-15"> HÌNH THỨC THANH TOÁN </p>
                            <div class="payment" style="margin-bottom: 60px;">
                    
                    
                    
                                <label class="label-container">
                                    <input type="radio" id="pay_method_1" name="pay_method" value="1" checked="">
                                    <span class="checkmark"></span>
                                    <span>Thanh toán tiền mặt khi nhận hàng</span>
            
                                    <div class="payment-detail" style="display: none;"></div>
                                </label>
                                
                                
                                <label class="label-container">
                                    <input type="radio" id="pay_method_2" name="pay_method" value="2">
                                    <span class="checkmark"></span>
                                    <span>Thanh toán qua chuyển khoản</span>
            
                                    <div class="payment-detail" style="display: none;">- STK: 000.0000.0000
                                        - Chủ Tk: Nguyễn Văn A
                                            - Chi nhánh: Hà Nội
                                    </div>
                                </label>
                                
                            </div>

                            <div class="text-right text-13 cart-total-price-group">
                                <% if(typeof count_cart != "undefined" ){ %>
                                Tổng tiền hàng (<span class="red" id="js-total-quantity"><%= count_cart[0].so_luong %> sản phẩm</span>):
                                <% }else{ %>
                                Tổng tiền hàng (<span class="red" id="js-total-quantity">0 sản phẩm</span>):
                                <% } %>
                                <b class="red text-22 font-600">
                                    <% if(typeof tong_gia_tien != "undefined" ){ %>
                                        <span class="js-total-cart-price" id="tong_tien"><%= tong_gia_tien[0].gia_tien %></span>.000đ
                                        <input type="text" name="tong_tien_neu_chua_dang_nhap" id="input_tong_tien" value="" class="form-input" style="display: none;" >
                                    <% }else{ %>
            
                                        <span class="js-total-cart-price" >0</span>
                                    <% } %>
                                    
                                </b>
                            </div>
                            <div class="clearfix cart-button-buy">
                                <button type="submit" class="w-100 js-send-cart font-weight-bold text-18"> ĐẶT MUA NGAY </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            
            <!-- chua dang nhap-->
            <% }else{ %>

                <div class="cart-page container">
                    <form method="post" action="/dat-hang">
                        <div class="cart-items-container">
                            <div class="cart-item-header">
                                <div class="item-header-title d-flex align-items-center justify-content-between font-600">
                                    <p class="m-0"> THÔNG TIN GIỎ HÀNG </p>
                                    <div>
                                        <a href="/trang-chu" class="goHome d-inline-block "><i class="fas fa-long-arrow-alt-left" aria-hidden="true"></i> CHỌN TIẾP SẢN PHẨM KHÁC </a>
                                        <a href="javascript:void(0);" class=" d-inline-block js-delete-cart" onclick="$('.js-delete-item').click()"> XOÁ GIỎ HÀNG </a>
                                    </div>
                                </div>
                                <div class="col-header cart-col-row text-15 font-300">
                                    <div class="cart-col-1"> Sản phẩm </div>
                                    <div class="cart-col-2"> Đơn giá </div>
                                    <div class="cart-col-3"> Số lượng </div>
                                    <div class="cart-col-4"> Số tiền </div>
                                    <div class="cart-col-5"> Thao tác </div>
                                </div>
                            </div>
    
                            <div class="cart-item-body">
                                <div class="item-cart cart-col-row js-item-row" data-variant_id="0" data-item_id="750" data-item_type="product">
                                    <div class="cart-col-1">
                                        <a href="/pad-33-sleep-bear" class="img" name="image">
                                            <img src="<%= data_product[0].anh %>">                  
                                        </a>
                
                                        <div class="text">
                                            <a href="/pad-33-sleep-bear"  class="d-inline-block font-700"> <%= data_product[0].ten %> </a>                 
                                            <span class="d-block p-info" name="ma_san_pham"> <%= data_product[0].ma_san_pham %> </span>
                                            <input type="text" name="ma_san_pham"  value="<%= data_product[0].ma_san_pham %> " class="form-input" style="display: none;" >
                                        </div>
                                    </div>
                
                                    <div class="cart-col-2">
                                        <input type="hidden" class="js-buy-price"  data-price="60000"> 
                                        <%= data_product[0].gia_tien %>.000đ
                                    </div>
                
                                    <div class="cart-col-3 clearfix">
                                        <a href="javascript:void(0)" class="quantity-change js-quantity-change minus-btn" onclick="handleMinus('1')" > - </a>
                                        <input type="text" name="amount" value="1" id="1" class="quantity-buy js-buy-quantity js-quantity-change"  data-stock="998" readonly>
                                        <a href="javascript:void(0)" class="quantity-change js-quantity-change plus-btn" onclick="handlePlus('1')"> + </a>
                                    </div>
                
                                    <div class="cart-col-4 font-600 red">
                                        <span class="js-total-item-price" id="price_1">
                                            <%= data_product[0].gia_tien %>  
                                        </span>.000đ
                                    </div>
                
                                    <div class="cart-col-5">
                                        <a href="javascript:void(0)" class="js-delete-item"> <i class="fa fa-trash-o" aria-hidden="true"></i> Xoá </a>
                                    </div>
                                </div>
                            </div>
                        </div>
    
    
                        <div class="cart-customer-container clearfix d-block">
                            <div class="customer-left">
                                <p class="title font-600 text-15"> ĐỊA CHỈ NHẬN HÀNG </p>
                                <div class="d-flex flex-wrap">
                                    <div class="form-info-group">
                                        <input type="text" placeholder="Họ và tên" name="ho_ten"  >
                
                                        <input type="text" placeholder="Email" name="email"  >
                
                                        <input type="text" placeholder="Số điện thoại" name="phone"  >
                
                                        <select name="tinh" class="" id="buyer_province" onchange="getProvince(this.value);">
                                            <option value="0">Tỉnh/Thành phố</option> 
                                            
                                            <option value="1">Hà Nội</option>
                                            
                                            <option value="2">TP HCM</option>
                                            
                                            <option value="5">Hải Phòng</option>
                                            
                                            <option value="4">Đà Nẵng</option>
                                            
                                            <option value="6">An Giang</option>
                                            
                                            <option value="7">Bà Rịa-Vũng Tàu</option>
                                            
                                            <option value="13">Bình Dương</option>
                                            
                                            <option value="15">Bình Phước</option>
                                            
                                            <option value="16">Bình Thuận</option>
                                            
                                            <option value="14">Bình Định</option>
                                            
                                            <option value="8">Bạc Liêu</option>
                                            
                                            <option value="10">Bắc Giang</option>
                                            
                                            <option value="9">Bắc Kạn</option>
                                            
                                            <option value="11">Bắc Ninh</option>
                                            
                                            <option value="12">Bến Tre</option>
                                            
                                            <option value="18">Cao Bằng</option>
                                            
                                            <option value="17">Cà Mau</option>
                                            
                                            <option value="3">Cần Thơ</option>
                                            
                                            <option value="24">Gia Lai</option>
                                            
                                            <option value="25">Hà Giang</option>
                                            
                                            <option value="26">Hà Nam</option>
                                            
                                            <option value="27">Hà Tĩnh</option>
                                            
                                            <option value="30">Hòa Bình</option>
                                            
                                            <option value="28">Hải Dương</option>
                                            
                                            <option value="29">Hậu Giang</option>
                                            
                                            <option value="31">Hưng Yên</option>
                                            
                                            <option value="32">Khánh Hòa</option>
                                            
                                            <option value="33">Kiên Giang</option>
                                            
                                            <option value="34">Kon Tum</option>
                                            
                                            <option value="35">Lai Châu</option>
                                            
                                            <option value="38">Lào Cai</option>
                                            
                                            <option value="36">Lâm Đồng</option>
                                            
                                            <option value="37">Lạng Sơn</option>
                                            
                                            <option value="39">Long An</option>
                                            
                                            <option value="40">Nam Định</option>
                                            
                                            <option value="41">Nghệ An</option>
                                            
                                            <option value="42">Ninh Bình</option>
                                            
                                            <option value="43">Ninh Thuận</option>
                                            
                                            <option value="44">Phú Thọ</option>
                                            
                                            <option value="45">Phú Yên</option>
                                            
                                            <option value="46">Quảng Bình</option>
                                            
                                            <option value="47">Quảng Nam</option>
                                            
                                            <option value="48">Quảng Ngãi</option>
                                            
                                            <option value="49">Quảng Ninh</option>
                                            
                                            <option value="50">Quảng Trị</option>
                                            
                                            <option value="51">Sóc Trăng</option>
                                            
                                            <option value="52">Sơn La</option>
                                            
                                            <option value="53">Tây Ninh</option>
                                            
                                            <option value="56">Thanh Hóa</option>
                                            
                                            <option value="54">Thái Bình</option>
                                            
                                            <option value="55">Thái Nguyên</option>
                                            
                                            <option value="57">Thừa Thiên-Huế</option>
                                            
                                            <option value="58">Tiền Giang</option>
                                            
                                            <option value="59">Trà Vinh</option>
                                            
                                            <option value="60">Tuyên Quang</option>
                                            
                                            <option value="61">Vĩnh Long</option>
                                            
                                            <option value="62">Vĩnh Phúc</option>
                                            
                                            <option value="63">Yên Bái</option>
                                            
                                            <option value="19">Đắk Lắk</option>
                                            
                                            <option value="22">Đồng Nai</option>
                                            
                                            <option value="23">Đồng Tháp</option>
                                            
                                            <option value="21">Điện Biên</option>
                                            
                                            <option value="20">Đăk Nông</option>
                                            
                                        </select> 
                
                                        <select name="user_info[district]" id="js-district-holder">
                                            <option value="0">Quận/Huyện</option>
                                        </select>
                
                                        <input type="text" placeholder="Toà nhà, Tên đường..." id="buyer_address" name="adress" value="">
                                    </div>
    
                                    <div class="form-info-group clearfix">
                                        <textarea placeholder="Nhập ghi chú cho chúng tôi" name="user_info[note]" id="buyer_note"></textarea>
                                        <div class="cart-btn-group clearfix">
                                            <a href="javascript:void(0)" onclick="downloadCartImage()"><i class="far fa-image" aria-hidden="true"></i> TẢI ẢNH ĐƠN HÀNG</a>
                                            <a href="/export_file.php?file_type=xls&amp;content_type=shopping-cart" target="_blank" rel="nofollow"><i class="far fa-file-excel" aria-hidden="true"></i> TẢI FILE EXCEL</a>
                                            <a href="/print/user.php?view=cart" target="_blank" rel="nofollow"><i class="fas fa-print" aria-hidden="true"></i> IN BÁO GIÁ</a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="customer-right">
                                <p class="title  font-600 text-15"> HÌNH THỨC THANH TOÁN </p>
                                <div class="payment" style="margin-bottom: 60px;">
                        
                        
                        
                                    <label class="label-container">
                                        <input type="radio" id="pay_method_1" name="pay_method" value="1" checked="">
                                        <span class="checkmark"></span>
                                        <span>Thanh toán tiền mặt khi nhận hàng</span>
                
                                        <div class="payment-detail" style="display: none;"></div>
                                    </label>
                                    
                                    
                                    <label class="label-container">
                                        <input type="radio" id="pay_method_2" name="pay_method" value="2">
                                        <span class="checkmark"></span>
                                        <span>Thanh toán qua chuyển khoản</span>
                
                                        <div class="payment-detail" style="display: none;">- STK: 000.0000.0000
                                            - Chủ Tk: Nguyễn Văn A
                                                - Chi nhánh: Hà Nội
                                        </div>
                                    </label>
                                    
                                </div>
    
                                <div class="text-right text-13 cart-total-price-group">
                                    Tổng tiền hàng (<span class="red" id="js-total-quantity">1 sản phẩm</span>):
                                    <b class="red text-22 font-600">
                                        <span class="js-total-cart-price" id="tong_tien"><%= data_product[0].gia_tien %></span>.000đ
                                        <input type="text" name="tong_tien" id="input_tong_tien"  value="<%= data_product[0].gia_tien %>" class="form-input" style="display: none;" >
                                        
                                    </b>
                                </div>
                                <div class="clearfix cart-button-buy">
                                    <button type="submit" class="w-100 js-send-cart font-weight-bold text-18"> ĐẶT MUA NGAY </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                


                

                <% } %>
                
        </div>

        <script>  
            // // console.log(amountElement);
            // let amount = amountElement.value;
            // // console.log(amount);

            // let render = (amount)=>{
            //     amountElement.value= amount
            // }
            
            

            //Xử lý Handle Plus
            let handlePlus=(id)=>{
                let amountElement = document.getElementById(id);
                let amount = amountElement.value;
                let priceText = document.getElementById("price_"+id);
                let price =parseInt(priceText.textContent);
                let defaultPrice = price/amount;
                let tongTienText = document.getElementById("tong_tien");
                let tongTien = parseInt(tongTienText.textContent);
                let input_tong_tien = document.getElementById('input_tong_tien');
                // console.log(priceText.textContent);
                let render = (amount,price,tongTien)=>{
                amountElement.value= amount;
                priceText.textContent=price;
                tongTienText.textContent=tongTien;
                input_tong_tien.value=tongTien;
            }
                // console.log(amount);
                // console.log(amountElement);
                amount++;
                price=price+defaultPrice;
                tongTien=tongTien+defaultPrice;
                render(amount,price,tongTien);
            }
            //Xử lý Handle Minus
            let handleMinus=(id)=>{
                let amountElement = document.getElementById(id);
                let amount = amountElement.value;
                let priceText = document.getElementById("price_"+id);
                let price =parseInt(priceText.textContent);
                let defaultPrice = price/amount;
                let tongTienText = document.getElementById("tong_tien");
                let tongTien = parseInt(tongTienText.textContent);
                let input_tong_tien = document.getElementById('input_tong_tien');
                let render = (amount,price,tongTien)=>{
                amountElement.value= amount;
                priceText.textContent=price;
                tongTienText.textContent=tongTien;
                input_tong_tien.value=tongTien;
            }
                if(amount >1){
                    amount--;
                    price=price-defaultPrice;
                    tongTien=tongTien-defaultPrice;
                }                                  
                render(amount,price,tongTien);
            }
            // amountElement.addEventListener('input',()=>{
            //     amount = amountElement.value;
            //     amount = parseInt(amount);
            //     amount = (isNaN(amount)||amount==0)?1:amount;
            //     render(amount);  
            //     console.log(amount);
            // });
        </script>
        
    </main>

    <footer>
        <div class="global-footer-container loaded">
            <div class="container">
                <div class="row footer-news-group">
                    <div class="col-6">
                        <div class="bg-white">
                            <div class="box-title">
                                <p class="title">
                                    TIN TỨC &amp; SỰ KIỆN
                                    <span>Cập nhật thông tin công nghệ từ Lắc Đầu</span>
                                </p>
                                <a href="/tin-tuc">XEM THÊM <i class="fa fa-long-arrow-alt-right" aria-hidden="true"></i></a>
                            </div>
                            <div class="article-holder" style="min-height:760px">
                                <div class="art-item">
                                    <a href="/tim-hieu-ve-cac-loai-plate-tren-ban-phim-co" class="art-img">
                                        <img src="./assets/media/news/2-tim-hieu-ve-cac-loai-plate-tren-ban-phim-co-04.jpg" alt="TÌM HIỂU VỀ CÁC LOẠI PLATE TRÊN BÀN PHÍM CƠ">
                                    </a>
                        
                                    <div class="art-text">
                                        <p class="art-time js-art-time" data-time="30-06-2022, 10:41 am"><span>30.06</span> <b>2022</b></p>
                        
                                        <a href="/tim-hieu-ve-cac-loai-plate-tren-ban-phim-co" class="art-title">TÌM HIỂU VỀ CÁC LOẠI PLATE TRÊN BÀN PHÍM CƠ</a>
                        
                                        <div class="art-summary">Plate và PCB là 2 khái niệm có thể bạn đã từng thấy ở đâu [...]     </div>
                                    </div>
                                </div>
                                <div class="art-item">
                                    <a href="/dich-vu-in-lot-chuot-theo-yeu-cau-tai-lac-dau" class="art-img">
                                        <img src="./assets/media/news/19-19-tuthietke.jpg" alt="DỊCH VỤ IN LÓT CHUỘT THEO YÊU CẦU TẠI LẮC ĐẦU">
                                    </a>
                        
                                    <div class="art-text">
                                        <p class="art-time js-art-time" data-time="19-10-2022, 12:28 am"><span>19.10</span> <b>2022</b></p>
                        
                                        <a href="/dich-vu-in-lot-chuot-theo-yeu-cau-tai-lac-dau" class="art-title">DỊCH VỤ IN LÓT CHUỘT THEO YÊU CẦU TẠI LẮC ĐẦU</a>
                        
                                        <div class="art-summary"></div>
                                    </div>
                                </div>
                                <div class="art-item">
                                    <a href="/huong-dan-su-dung-ban-phim-co-akko-3098b-va-3098n" class="art-img">
                                        <img src="./assets/media/news/12-untitled-3-715x400.jpg" alt="CẦU NĂNG LƯỢNG TAY QUỶ PHÁT SÁNG">
                                    </a>
                        
                                    <div class="art-text">
                                        <p class="art-time js-art-time" data-time="02-07-2022, 11:15 am"><span>02.07</span> <b>2022</b></p>
                        
                                        <a href="/huong-dan-su-dung-ban-phim-co-akko-3098b-va-3098n" class="art-title">CẦU NĂNG LƯỢNG TAY QUỶ PHÁT SÁNG</a>
                        
                                        <div class="art-summary"></div>
                                    </div>
                                </div>
                                
                                

                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="bg-white">
                            <div class="box-title box-video-title">
                                <p class="title">YOUTUBE CHANNEL</p>
            
                                <a href="https://www.youtube.com/channel/UC0kL-L4W-QBwgwqCv408J2A" target="_blank">XEM THÊM <i class="fa fa-long-arrow-alt-right" aria-hidden="true"></i></a>
                            </div>
                            <div class="video-holder" id="js-footer-video-holder">
                                <a href="https://www.youtube.com/watch?v=IbynkPYszfY&amp;t=31s" data-fancybox="">
                                     <img src="./assets/media/news/14-maxresdefault-2-711x400.jpg">
                                    
                                </a>  
                            
                                <a href="https://www.youtube.com/watch?v=wc56VEUHEf0&amp;t=274s" data-fancybox="">
                                     <img src="./assets/media/news/18-maxresdefault--1-.jpg">
                                    
                                </a>  
                            
                                <a href="https://www.youtube.com/watch?v=pWXq_KMZzFg&amp;t=272s" data-fancybox="">
                                     <img src="./assets/media/news/17-maxresdefault.jpg">
                                    
                                </a>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-tag-group bg-white d-flex align-items-center flex-wrap">
                    <b>Tìm hiểu thêm: </b>
                    <a href="/lot-chuot">LÓT CHUỘT</a>
                    <a href="/gaming-gear">GAMING GEAR</a>
                    <a href="/phu-kien-may-tinh">PHỤ KIỆN MÁY TÍNH</a>
                    <a href="/mo-hinh">MÔ HÌNH</a>
                    <a href="/phu-kien-trang-tri">PHỤ KIỆN TRANG TRÍ</a>
                    <a href="/loa-micro-webcam">LOA, MICRO, WEBCAM</a>
                    <a href="/ghe-gaming">GHẾ GAMING</a>
                    <a href="/ban-gaming">BÀN GAMING</a>
                    <a href="/usb-bo-chia-tin-hieu">USB, BỘ CHIA TÍN HIỆU</a>
                    <a href="/tan-nhiet-cooling">TẢN NHIỆT, COOLING</a>
                    <a href="/phu-kien-dien-thoai">PHỤ KIỆN ĐIỆN THOẠI</a>
                </div>
            </div>

            <div class="footer-newsletter-group d-flex align-items-center justify-content-center bg-green text-white">
                <i class="icons icon-mail"></i>
                <p class="text">
                    <b class="d-block">NHẬN TIN KHUYẾN MÃI</b>
                    <span class="font-300 d-block">Bạn vui lòng để lại Email để nhận thông tin <br>khuyến mãi từ Lắc Đầu</span>
                </p>
                <div class="newsletter-form position-relative">
                    <input type="text" id="js-email-newsletter" class="newsletter-input" placeholder="Nhập email đăng ký nhận tin khuyến mãi">
                    <a href="javascript:void(0)" onclick="subscribe_newsletter('#js-email-newsletter')" class="icons icon-submit"></a>
                </div>
            </div>

            <div class="footer-info-group bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <a href="/" class="footer-logo d-block">
                                <img data-src="./assets/default/images/logo.png" alt="lắc đầu" width="1" height="1" class="lazy d-block loaded" src="./assets/default/images/logo.png" data-was-processed="true">
                            </a>
                            <p class="footer-address-item">
                                <i class="icons icon-map"></i>
                                <a href="https://goo.gl/maps/FraZok8EJTGYcxHc6" target="_blank">Số 15 Yên Lãng, Phường Trung Liệt, Quận Đống Đa, Hà Nội</a>
                            </p>
                            <p class="footer-address-item">
                                <i class="icons icon-phone"></i>
                                <a href="tel:0349296461">0349296461</a>
                            </p>
                            <p class="footer-address-item">
                                <i class="icons icon-email"></i>
                                <a href="mailTo:lacdaushop@gmail.com">lacdaushop@gmail.com</a>
                            </p>
                            <div class="footer-social-media">
                                <a href="https://www.facebook.com/lacdaustore" class="icons icon-facebook" target="_blank" title="Facebook"></a>
                                <a href="https://www.instagram.com/lac.dau/" class="icons icon-instagram" target="_blank" title="Instagram"></a>
                                <a href="https://www.tiktok.com/@lacdaustore" class="icons icon-tiktok" target="_blank" title="Tiktok"></a>
                                <a href="mailTo:lacdaushop@gmail.com" class="icons icon-mail" target="_blank" title="Email"></a>
                                <a href="tel:0349296461" class="icons icon-phone" target="_blank" title="0349.296.461"></a>
                                <a href="https://www.youtube.com/channel/UC0kL-L4W-QBwgwqCv408J2A" class="icons icon-youtube" target="_blank" title="Youtube"></a>
                            </div>
                        </div>
                        <div class="col-3 footer-info-item">
                            <p class="box-title">HỖ TRỢ KHÁCH HÀNG</p>
                            <div class="info-list">
                                <a href="/huong-dan-mua-hang-truc-tuyen">Hướng dẫn mua hàng trực tuyến</a>
                                <a href="/huong-dan-thanh-toan">Hướng dẫn thanh toán</a>  
                                <a href="/gui-yeu-cau-bao-hanh">Gửi yêu cầu bảo hành</a>
                                <a href="/gop-y-khieu-nai">Góp ý, Khiếu Nại</a>
        
                                <!--<a href="" class="footer-bct"><img data-src="/static/assets/default/images/bct.png" alt="BCT" width="1" height="1" class="lazy w-auto h-auto d-block"/> </a>-->
                            </div>
                        </div>
                        <div class="col-3 footer-info-item">
                            <p class="box-title">CHÍNH SÁCH CHUNG</p>
        
                            <div class="info-list">
                                <a href="/chinh-sach-quy-dinh-chung">Chính sách, quy định chung</a>
                                <a href="/chinh-sach-van-chuyen">Chính sách vận chuyển</a>
                                <a href="/chinh-sach-bao-hanh">Chính sách bảo hành</a>
                                <a href="/chinh-sach-doi-tra-va-hoan-tien">Chính sách đổi trả và hoàn tiền</a>
                                <a href="/chinh-sach-xu-ly-khieu-nai">Chính sách xử lý khiếu nại</a>
                                <a href="/bao-mat-thong-tin-khach-hang">Bảo mật thông tin khách hàng</a>
                            </div>
                        </div>
                        <div class="col-3 footer-info-item">
                            <p class="box-title">FANPAGE FACEBOOK</p>
        
                            <div class="info-list">
                                <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/lacdaustore" data-tabs="" data-width="391" data-height="150" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=391&amp;height=150&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Flacdaustore&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=&amp;width=391"><span style="vertical-align: bottom; width: 391px; height: 130px;"><iframe name="f2c1f8fbb84d48" width="391px" height="150px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v13.0/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2957dc94a20bb8%26domain%3Dlacdau.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Flacdau.com%252Ff129dcf2cdb91b%26relation%3Dparent.parent&amp;container_width=391&amp;height=150&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Flacdaustore&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=&amp;width=391" style="border: none; visibility: visible; width: 391px; height: 130px;" class=""></iframe></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="line-height: 20px;color: #555;padding: 13px 6px;">
                Chủ sở hữu: Hoàng Bình Minh<br>
                Dự án website với NodeJS  <br>
                10 điểm<br>
            </div>
           
        </div>
    </footer>
</body>
</html>