<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CHI TIẾT</title>

        <link rel="stylesheet" href="./css/header.css">
        <link rel="stylesheet" href="./css/body.css">
        <link rel="stylesheet" href="./css/footer.css">
        <link rel="stylesheet" href="./css/PopypModal.css">
        <script src="./js/header.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    </head>
    
    <body>
        <header>
            <div class="global-header-container text13">
                <div class="global-header-top-group font-500">
                    <div
                        class="container d-flex align-items-center justify-content-between position-relative">
                        <div
                            class="global-header-left d-flex align-items-center">
                            <div class="item adress-hover"> <i
                                    class="fa-solid fa-map-pin"></i>Địa chỉ liên
                                hệ
                                <div class="header-content-holder-left">
                                    <div class="support-item">
                                        <p class="title">Địa chỉ</p>
                                        <a
                                            href="https://goo.gl/maps/8E9w4YJfEFf9hybN9"
                                            target="_blank">
                                            <i
                                                class="green fas fa-map-marker-alt"
                                                style="color: #29A07E;"
                                                aria-hidden="true"></i>
                                            <span>Địa chỉ: Số 15 Yên Lãng,
                                                Phường Trung Liệt, Quận Đống Đa,
                                                Hà Nội</span>
                                        </a>
                                        <a href="tel:0349296461">
                                            <i class="green fas fa-phone-alt"
                                                style="color: #29A07E;"
                                                aria-hidden="true"></i>
                                            <span>Số điện thoại : 0349296461</span>
                                        </a>
                                        <a
                                            href="mailto:anh.nguyenhai213@gmail.com">
                                            <i class="green fas fa-envelope"
                                                style="color: #29A07E;"
                                                aria-hidden="true"></i>
                                            <span>Địa chỉ email :
                                                Lacdaushop@gmail.com</span>
                                        </a>
                                        <a href="javascript:void(0)">
                                            <span>Giờ mở cửa: 8h30 - 21h30</span>
                                        </a>
                                    </div>
                                    <div class="support-item">
                                        <div class="position-relative loaded"
                                            id="js-load-map"><iframe
                                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3724.4854518231614!2d105.8163974!3d21.0132533!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab7d33b90bd5%3A0x9d9d6f5da32dda1e!2zMTUgUC5Zw6puIEzDo25nLCBUcnVuZyBMaeG7h3QsIMSQ4buRbmcgxJBhLCBIw6AgTuG7mWk!5e0!3m2!1svi!2s!4v1678960947364!5m2!1svi!2s"
                                                width="600" height="450"
                                                style="border:0;"
                                                allowfullscreen loading="lazy"
                                                referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                                    </div>
                                </div>
                            </div>

                            <div class="item hotline-hover"> <i
                                    class="fa-solid fa-headset"></i> Hotline
                                trực tuyến
                                <div class="header-content-holder-right">
                                    <div class="support-item">
                                        <p class="title">Hotline</p>

                                        <a href="tel:0349296461">
                                            <i class="green fas fa-phone-alt"
                                                aria-hidden="true"></i>
                                            <span>Số điện thoại : 0349296461</span>
                                        </a>

                                        <a
                                            href="mailto:anh.nguyenhai213@gmail.com">
                                            <i class="green fas fa-envelope"
                                                aria-hidden="true"></i>
                                            <span>Địa chỉ email :
                                                Lacdaushop@gmail.com</span>
                                        </a>
                                    </div>

                                    <div class="support-item">
                                        <p class="title">Phòng kinh doanh - Tư
                                            vấn</p>

                                        <a href="tel:0349296461">
                                            <i class="green fas fa-phone-alt"
                                                aria-hidden="true"></i>
                                            <span>Hotline : 0349.296.461</span>
                                        </a>

                                        <a href="https://zalo.me/0349296461"
                                            target="_blank">
                                            <i class="green fas fa-phone-alt"
                                                aria-hidden="true"></i>
                                            <span span>Zalo : 0349.296.461</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <a href="https://shopee.vn/SA-35610180"
                                class="title"> <i class="fa-brands fa-shopify"></i>
                                Shopee</a>

                            <a href="https://www.lazada.vn/shop/lacdaushop/"
                                class="title"> <i class="fa-solid fa-store"></i>
                                Lazada</a>

                            <a href="https://www.instagram.com/lac.dau/"
                                target="_blank" class="title">
                                <i class="fab fa-instagram"></i> Instagram
                            </a>
                            <a href="https://www.tiktok.com/@lacdaustore"
                                target="_blank" class="title">
                                <i class="fab fa-tiktok"></i> Tiktok
                            </a>
                            <a
                                href="https://www.youtube.com/channel/UC0kL-L4W-QBwgwqCv408J2A"
                                target="_blank"
                                class="title">
                                <i class="fab fa-youtube"></i> Youtube
                            </a>
                            <a href="https://www.facebook.com/lacdaustore"
                                target="_blank" class="title">
                                <i class="fab fa-facebook-square"></i> Facebook
                            </a>
                        </div>
                        <div class="global-header-right">
                            <a href="/tin-tuc" class="title"> <i
                                    class="fa-solid fa-bullhorn"></i> Tin tức</a>
                            <i class="fa-solid fa-circle-user"></i>
                            <% if(typeof data_user != "undefined" ){ %>
                            <a href="/tai-khoan" class="title"> Xin chào, <%=
                                data_user[0].username %></a>
                            <% }else{ %>

                            <a href="/dang-ky">Đăng ký</a> &nbsp;/&nbsp;
                            <a href="/dang-nhap">Đăng nhập</a>
                            <% } %>
                        </div>
                    </div>

                </div>
                <div class="global-header-bottom-group">
                    <div
                        class="container d-flex align-items-center justify-content-between position-relative">
                        <a href="/trang-chu" class="header-left-group">
                            <img src="./assets/default/images/logo.png"
                                alt="Lắc đầu"
                                class="d-block m-auto h-auto w-auto"></a>
                        <div class="header-menu-group">
                            <div class="title">
                                <i class="fa-solid fa-list"></i> DANH MỤC
                            </div>

                        </div>

                        <div class="header-search-group">
                            <form method="get" action="/tim" name="search"
                                class="search-input-group bg-white position-relative">
                                <button type="submit" class="btn-search"><i
                                        class="fa-solid fa-magnifying-glass"></i></button>
                                <input type="text" id="js-seach-input" name="q"
                                    placeholder="Bạn cần tìm gì?" value
                                    autocomplete="off" class="text-search">
                            </form>
                        </div>
                        <div class="header-right-group">
                            <div class="item"
                                style="border-radius: 0px !important;">
                                <i class="fa-solid fa-phone-volume fa-bounce"
                                    style="color: #29A07E;"></i>
                                <a href="tel:0349.296.461" class="text font-700">
                                    <span span class="font-400">Hotline</span>
                                    <b>0349.296.461</b>
                                </a>
                            </div>
                            <div class="item">
                                <i class="fa-solid fa-bolt-lightning"
                                    style="color: #29A07E;"></i>
                                <a
                                    href="https://www.messenger.com/t/1684408595122637"
                                    target="_blank" class="text font-500">Tư vấn
                                    trực tiếp</a>
                            </div>

                            
                            <div class="item item-cart position-relative" id="cart">
                                <a href="/cart" class="icons icon-cart">
                                    <% if(typeof data_user != "undefined" ){ %>
                                    <span class="cart-count js-cart-count" id="cart-count"><%= count_cart[0].so_luong %></span>
                                    <% }else{ %>
                                    <span class="cart-count js-cart-count" id="cart-count">0</span>
                                    <% } %>
                                </a>
                                <a href="/cart" class="font-700">Giỏ hàng</a>
                                <div class="header-cart-hover loaded" id="js-header-cart-holder">
                                    <% if(typeof data_user != "undefined" ){ %>
                                        <div class="cart-items-holder">
                                            <% data_cart.forEach(item=> { %>
                                            <div class="cart-item">
                                                <a href="/pad-33-sleep-bear" class="cart-img">
                                                    <img src="<%= item.anh%>">
                                                    
                                                </a>
                                                <div class="cart-text">
                                                    <a href="/pad-33-sleep-bear" class="d-block font-700" style="margin-bottom: 5px"><%= item.ten%></a>
                                                
                                                    <p class="m-0 d-flex justify-content-between">
                                                        <b>x1</b>
                                                        <b class="red"><%= item.gia_tien%> đ</b>
                                                    </p>
                                                </div>
                                            </div>
                                            <% }); %>
                                            <!-- <div class="cart-item">
                                                <a href="/pad-22-many-cat" class="cart-img">
                                                    <img src="./assets/media/product/250-1391-53424e5247a21b79417d566bc2869499.jpg">
                                                    
                                                </a>
                                                <div class="cart-text">
                                                    <a href="/pad-22-many-cat" class="d-block font-700" style="margin-bottom: 5px; justify-content: start;">PAD 22 MANY CAT</a>
                                                    
                                                      
                                                  
                                                    <p class="m-0 d-flex justify-content-between">
                                                        <b>x1</b>
                                                        <b class="red">35.000 đ</b>
                                                    </p>
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="cart-price-hover">
                                            <p class="grey font-300 m-0 text-right">
                                                Tổng tiền hàng
                                                (<span class="red"><span class="js-cart-count"><%= count_cart[0].so_luong %></span> sản phẩm</span>):
                                                <span class="red text-18 font-600" style="vertical-align: top;">
                                                    <%= tong_gia_tien[0].gia_tien %>.000đ
                                                    
                                                </span>
                                            </p>
                                    
                                            <a href="/cart" class="d-block text-center text-white btn-goCart"> THANH TOÁN NGAY </a>
                                        </div>

                                    <% } else{ %>
                                        <b class="d-block text-center p-4">Có 0 sản phẩm trong giỏ hàng</b>
                                   
                                    <% } %>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </header>

        <main>
            <div class="homepage">
                <div class="global-breadcrumb container">
                    <ol itemscope itemtype="http://schema.org/BreadcrumbList"
                        class="ul clearfix">
                        <li itemprop="itemListElement" itemscope
                            itemtype="http://schema.org/ListItem">
                            <a href="/trang-chu" itemprop="item" class="nopad-l">
                                <span itemprop="name">Trang chủ</span>
                            </a>
                            <meta itemprop="position" content="1">
                        </li>

                        <li itemprop="itemListElement" itemscope
                            itemtype="http://schema.org/ListItem">
                            <a href="/lot-chuot"
                                itemprop="item" class="nopad-l">
                                <span itemprop="name"> Lót chuột </span>
                            </a>
                            <meta itemprop="position" content="2">
                        </li>

                        <li itemprop="itemListElement" itemscope
                            itemtype="http://schema.org/ListItem">
                            <a href="/lot-chuot"
                                itemprop="item" class="nopad-l">
                                <span itemprop="name"> Lót chuột cỡ <%= data_one_lot_chuot[0].kich_thuoc %></span>
                            </a>
                            <meta itemprop="position" content="3">
                        </li>
                    </ol>
                </div>
                

            </div>
            <div class="product-detail-page container">
                <div class="pd-box-group pd-info-group bg-white d-flex flex-wrap">
                    <div class="pd-box-left">
                        <div class="big-image-holder" id="js-big-img" data-id="js-fancybox-1">
                            <a href="javascript:void(0)">
                                <img id="productImage" src="<%= data_one_lot_chuot[0].anh %>" alt="PAD 22 SLEEP BEAR">
                            </a>
                        </div>
                        <div class="pd-img-gallery owl-carousel owl-theme owl-loaded owl-drag" id="js-img-gallery">
                           <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 104px;">
                                    <div class="owl-item active" style="width: 96.8px; margin-right: 7px;">
                                        <a href="javascript:void(0)" class="current" data-id="js-fancybox-1" data-href="/media/product/250-795-c2c546d63059e8b752992bb9a31cd7b2.jpg">
                                            <img src="<%= data_one_lot_chuot[0].anh %>" alt="PAD 22 SLEEP BEAR">
                                        </a>
                                    </div>
                                </div>
                           </div>
                        </div>
                    </div>
                    <div class="pd-box-middle parent">
                        <h1 class="pd-name" id="productName" style="font-size: 30px;"><%= data_one_lot_chuot[0].ten %> </h1>
                        <div class="pd-sku-rating-group" style="font-size: 18px;">
                            Mã SP: <span id="productCode" class="green text-uppercase" >&nbsp;<%= data_one_lot_chuot[0].ma_san_pham %></span>&nbsp;&nbsp;&nbsp;
                            
                            Lượt xem: <b>&nbsp;189</b>&nbsp;&nbsp;&nbsp;
                            <div class="d-inline-block">
                                <div class="fb-like fb_iframe_widget" data-href="https://lacdau.com/pad-33-sleep-bear" data-width="" data-layout="button" data-action="like" data-size="small" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=0&amp;href=https%3A%2F%2Flacdau.com%2Fpad-33-sleep-bear&amp;layout=button&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;size=small&amp;width="><span style="vertical-align: bottom; width: 120px; height: 28px;"><iframe name="f9b7e22a17f388" width="1000px" height="1000px" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v13.0/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df14769ec4996978%26domain%3Dlacdau.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Flacdau.com%252Ff180071758ef02c%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Flacdau.com%2Fpad-33-sleep-bear&amp;layout=button&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;size=small&amp;width=" style="border: none; visibility: visible; width: 120px; height: 28px;" class=""></iframe></span></div>
                            </div>
                        </div>
                        <div class="pd-summary-group">
                            <b class="title" style="font-size: 20px;">Thông số sản phẩm</b>
                            <div class="pd-summary-list">
                                <div class="item" style="font-size: 20px;"><%= data_one_lot_chuot[0].thong_so %></div>
                                
                            </div>
                            
                        </div>
                        <div class="pd-variant-group">
                            <b class="title" style="font-size: 20px;">Tùy Chọn Sản Phẩm</b>
            
                            <div class="pd-variant-group-holder" id="js-variant-group-holder">
                                
                                <% if(data_one_lot_chuot[0].kich_thuoc == "45x40cm" ){ %>
                                <a href="/pad-44-sleep-bear" class="item current">
                                    <span class="name">45x40CM</span>
                                    <span class="price">
                                        90.000<u>đ</u>
                                        
                                    </span>
                                </a> 
                                <% } else{ %>
                                <a href="/pad-44-sleep-bear" class="item ">
                                    <span class="name">45x40CM</span>
                                    <span class="price">
                                        90.000<u>đ</u>
                                            
                                    </span>
                                </a> 
                                <% } %>
                                

                                <% if(data_one_lot_chuot[0].kich_thuoc == "35x30cm" ){ %>
                                <a href="javascript:void(0)" class="item current">
                                    <span class="name">35x30CM</span>
                                    <span class="price">
                                        60.000<u>đ</u>
                                        
                                    </span>
                                </a>
                                <% } else{ %>
                                    <a href="javascript:void(0)" class="item ">
                                        <span class="name">35x30CM</span>
                                        <span class="price">
                                            60.000<u>đ</u>
                                            
                                        </span>
                                    </a>
                                <% } %>


                                <% if(data_one_lot_chuot[0].kich_thuoc == "26x21cm" ){ %>
                                <a href="/pad-22-sleep-bear" class="item current">
                                    <span class="name">26x21CM</span>
                                    <span class="price">
                                        35.000<u>đ</u>
                                        
                                    </span>
                                </a>
                                <% } else{ %>
                                    <a href="/pad-22-sleep-bear" class="item ">
                                        <span class="name">26x21CM</span>
                                        <span class="price">
                                            35.000<u>đ</u>
                                            
                                        </span>
                                    </a>
                                <% } %>                             
                            </div> 
                        </div>

                        <div class="pd-price-group">
                            <table>     
                                <tbody>
                                    <tr>
                                        <td>Giá khuyến mại:</td>
                                        <td>
                                            <span class="pd-price js-variantSelected-price">
                                                <%= data_one_lot_chuot[0].gia_tien %>₫
                                            
                                            </span>
                                        
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="pd-btn-cart">
                            <% if(typeof data_user != "undefined" ){ %>
                            <a href="/cart?ma_san_pham=<%= data_one_lot_chuot[0].ma_san_pham %>" id="js-buy-now">MUA NGAY</a>
                            <a href="">
                                <form action="/cart?ma_san_pham=<%= data_one_lot_chuot[0].ma_san_pham %>&id=<%= data_one_lot_chuot[0].id %>&anh=<%= data_one_lot_chuot[0].anh %>&ten=<%= data_one_lot_chuot[0].ten %>&gia_tien=<%= data_one_lot_chuot[0].gia_tien %>" method="post">
                                    <button type="submit" style="text-decoration: none; border: none; background: #FF5C00; color: #FFFF; font-weight: 800; font-size: 24px;">THÊM VÀO GIỎ</button>
                                </form>
                            </a>
                            
                            <% }else{ %>
                                <a href="/cart?ma_san_pham=<%= data_one_lot_chuot[0].ma_san_pham %>" id="js-buy-now">MUA NGAY</a>
                                <a href="javascript:void(0)" id="btn-open-modal">THÊM VÀO GIỎ</a>
                            <% } %>
                        </div>


                       
                            <!--Modal -->
                            <div id="modal-container">
                                <div class="modal" id="modal-demo">
                                    <div class="modal-header">
                                        <h2>THÔNG BÁO</h2>
                                        <button id="btn-close-modal"><i class="fa-solid fa-xmark"></i></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Bạn chưa <a href="/dang-nhap">đăng nhập</a></p>
                                    </div>
                                </div>
                            </div>
                            <!--End Modal -->
                       
                        <script>
                            const btn_open_modal = document.getElementById('btn-open-modal');
                            const btn_close_modal = document.getElementById('btn-close-modal');
                            const modal_container = document.getElementById('modal-container');
                            const modal_demo = document.getElementById('modal-demo');
                            btn_open_modal.addEventListener('click', ()=>{
                                // Add class .show
                                modal_container.classList.add('show');
                            });
                    
                            btn_close_modal.addEventListener('click', ()=>{
                                // Add class .show
                                modal_container.classList.remove('show');
                            });
                    
                            modal_container.addEventListener('click',(e)=>{
                                if(!modal_demo.contains(e.target)){
                                    btn_close_modal.click();
                                }
                        
                            });

                        </script>

                        <% if(typeof data_user != "undefined" ){ %>
                        <script>
                            // $(document).ready(function () {
                            //     $("#add-to-cart").click(function() {
                            //         alert("hi");
                            //     });
                            // });

                            // var giohang = new Array();
                            // function add_to_cart() {
                            // //     alert("<%= data_one_lot_chuot[0].ma_san_pham %>");
                            // //     var ma_san_pham = "<%= data_one_lot_chuot[0].ma_san_pham %>";
                            // //     var email = "<%= data_user[0].email %>";

                            // //     var sp = new Array(ma_san_pham, email);
                            // //     giohang.push(sp);
                            // //     console.log(giohang);

                            // //     // function addToCart(email,ma_san_pham) {
                            // //     //     return new Promise((resolve, reject) => {
                            // //     //         const query = 'INSERT INTO cart (email, ma_san_pham) VALUES (?, ?);'
                            // //     //         connection.query(query, [email,ma_san_pham], (error, results) => {
                            // //     //         if (error) {
                            // //     //             reject(error);
                            // //     //             return;
                            // //     //         }
                            // //     //         // console.log(results);
                            // //     //         resolve(results);
                            // //     //         });
                            // //     //     });
                            
                            // //     // }
                            // //     // const add_to_cart = addToCart();

                            
                            // }




                            
                        </script>
                        <% } %>


                    </div>
                    <div class="pd-box-right">
                        <div class="static-item">
                            <p class="title">CHÍNH SÁCH MUA HÀNG</p>
            
                            <div class="item-list">
                                <p class="item">
                                    <i class="icons icon-card"></i> <span>Thanh toán thuận tiện</span>
                                </p>
            
                                <p class="item">
                                    <i class="icons icon-shield"></i> <span>Sản phẩm 100% chính hãng</span>
                                </p>
            
                                <p class="item">
                                    <i class="icons icon-box"></i> <span>Bảo hành nhanh chóng</span>
                                </p>
            
                                <p class="item">
                                    <i class="icons icon-truck"></i> <span>Giao hàng toàn quốc</span>
                                </p>
                            </div>
                        </div>
                        <div class="static-item">
                            <p class="title">HOTLINE HỖ TRỢ</p>
            
                            <div class="item-list">
                                <a href="tel:094.359.2222" class="item">
                                    <i class="icons icon-phone"></i>
                                    <span>Hotline CSKH: 0349.296.461</span>
                                </a>
            
                                <a href="tel:094.359.2222" class="item">
                                    <i class="icons icon-phone"></i>
                                    <span>Tư vấn mua hàng: 0349.296.461</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                        <div class="pd-box-group">
                            <div class="pd-tab-group" id="js-pd-tab">
                                <a href="#pd-desc" class="active">ĐẶC ĐIỂM</a>
                                
                                <a href="#pd-comment">ĐÁNH GIÁ</a>
                            </div>
            
                            <div class="pd-desc-group js-static-container" id="pd-desc">
                                <div class="js-static-content">
                                     <i><%= data_one_lot_chuot[0].dac_diem %></i>
                                    
                                </div>
            
                                <div class="pd-btn-desc">
                                    <!-- <a href="javascript:void(0)" class="js-showmore-button">XEM THÊM <i class="fas fa-angle-double-down" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)" class="js-showless-button">THU GỌN <i class="fas fa-angle-double-up" aria-hidden="true"></i></a> -->
                                </div>
                            </div>
                        </div>
                        <div class="pd-box-group">
                            <p class="box-title">Đánh giá về sản phẩm</p>
                            <div class="pd-comment-group">
                                <div class="comment-container">
                                    <form action="/ajax/post_comment.php" method="post" enctype="multipart/form-data" onsubmit="return check_field(0)" class="form-post d-flex flex-wrap">

                                        <input type="hidden" name="user_post[item_title]" value="[Sản phẩm] PAD 33 SLEEP BEAR">
                    
                                <input type="hidden" name="user_post[item_type]" value="product">
                                <input type="hidden" name="user_post[item_id]" value="750">
                                <input type="hidden" name="user_post[title]" value="PAD 33 SLEEP BEAR">
                                <input type="hidden" name="user_post[user_email]" value="">
                                <input type="hidden" name="user_post[user_name]" value="">
                                <input type="hidden" name="user_post[user_tel]" value="">
                                <input type="hidden" name="user_post[user_avatar]" value="0">
                                <input type="hidden" name="user_post[rate]" value="0">
                        
                                <div class="comment-form-left">
                                    <img src="./assets/default/images/no-avatar.png" alt="avt" width="70" height="70">
                                </div>
                        
                                <div class="comment-form-right">
                                    <table>
                                        <tbody><tr>
                                            <td colspan="2">
                                                <textarea name="user_post[content]" id="content0" class="js-show-form-input" placeholder="Nội dung"></textarea>
                                            </td>
                                        </tr>
                        
                                        <tr>
                                            <td colspan="2">
                                                <div class="rating-choose d-flex align-items-center">
                                                    <span> Đánh giá: </span>
                        
                                                    <div class="rating-selection clearfix" id="rating-review0">
                                                        <input type="radio" class="rating-input" id="rating-input-review-0-5" value="5" name="user_post[rate]" checked="">
                                                        <label for="rating-input-review-0-5" class="rating-star"></label>
                        
                                                        <input type="radio" class="rating-input" id="rating-input-review-0-4" value="4" name="user_post[rate]">
                                                        <label for="rating-input-review-0-4" class="rating-star"></label>
                        
                                                        <input type="radio" class="rating-input" id="rating-input-review-0-3" value="3" name="user_post[rate]">
                                                        <label for="rating-input-review-0-3" class="rating-star"></label>
                        
                                                        <input type="radio" class="rating-input" id="rating-input-review-0-2" value="2" name="user_post[rate]">
                                                        <label for="rating-input-review-0-2" class="rating-star"></label>
                        
                                                        <input type="radio" class="rating-input" id="rating-input-review-0-1" value="1" name="user_post[rate]">
                                                        <label for="rating-input-review-0-1" class="rating-star"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                        
                                        <tr>
                                            <td>
                                                <input type="text" id="name0" class="inputText" value="" placeholder="Tên (Bắt buộc)">
                                            </td>
                                            <td>
                                                <input type="text" id="email0" class="inputText" placeholder="Email (Bắt buộc)" value="">
                                            </td>
                                        </tr>
                        
                                        <tr>
                                            <td></td>
                                            <td>
                                                <a href="javascript:;" class="send_form" onclick="postComment('0','');"> GỬI ĐI </a>
                                            </td>
                                        </tr>
                                    </tbody></table>            
                                </div>
                            </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-4">
                        <div class="pd-box-group">
                            <p class="box-title">SẢN PHẨM TƯƠNG TỰ</p>
                            <div class="pd-related-holder">
                                <div class="p-item">
                                    <a href="/pad-33-baymax" class="p-img">
                                        <img src="./assets/media/product/250-1381-e24e29c90c14a56a717d6c0d9201021b.jpg" alt="PAD 33 BAYMAX">
                                          
                                    </a>
                        
                                    <div class="p-text">
                                      <div class="d-flex align-item-center justify-content-between">
                                        <p class="p-sku">Mã: PAD0694</p>
                                        <p class="p-qty conhang">Còn hàng </p> 
                                      </div>
                                        <a href="/pad-33-baymax" class="p-name">PAD 33 BAYMAX</a>
                        
                                        <div class="p-price-container">
                                            
                        
                                            <span class="p-price">
                                                 60.000<u>đ</u>
                                                
                                            </span>
                        
                                            <a href="javascript:void(0)" class="p-btn-cart" onclick="addProductToCart(3145, 0, '')"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-item">
                                    <a href="/pad-33-baymax" class="p-img">
                                        <img src="./assets/media/product/250-1381-e24e29c90c14a56a717d6c0d9201021b.jpg" alt="PAD 33 BAYMAX">
                                          
                                    </a>
                        
                                    <div class="p-text">
                                      <div class="d-flex align-item-center justify-content-between">
                                        <p class="p-sku">Mã: PAD0694</p>
                                        <p class="p-qty conhang">Còn hàng </p> 
                                      </div>
                                        <a href="/pad-33-baymax" class="p-name">PAD 33 BAYMAX</a>
                        
                                        <div class="p-price-container">
                                            
                        
                                            <span class="p-price">
                                                 60.000<u>đ</u>
                                                
                                            </span>
                        
                                            <a href="javascript:void(0)" class="p-btn-cart" onclick="addProductToCart(3145, 0, '')"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-item">
                                    <a href="/pad-33-baymax" class="p-img">
                                        <img src="./assets/media/product/250-1381-e24e29c90c14a56a717d6c0d9201021b.jpg" alt="PAD 33 BAYMAX">
                                          
                                    </a>
                        
                                    <div class="p-text">
                                      <div class="d-flex align-item-center justify-content-between">
                                        <p class="p-sku">Mã: PAD0694</p>
                                        <p class="p-qty conhang">Còn hàng </p> 
                                      </div>
                                        <a href="/pad-33-baymax" class="p-name">PAD 33 BAYMAX</a>
                        
                                        <div class="p-price-container">
                                            
                        
                                            <span class="p-price">
                                                 60.000<u>đ</u>
                                                
                                            </span>
                        
                                            <a href="javascript:void(0)" class="p-btn-cart" onclick="addProductToCart(3145, 0, '')"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-item">
                                    <a href="/pad-33-baymax" class="p-img">
                                        <img src="./assets/media/product/250-1381-e24e29c90c14a56a717d6c0d9201021b.jpg" alt="PAD 33 BAYMAX">
                                          
                                    </a>
                        
                                    <div class="p-text">
                                      <div class="d-flex align-item-center justify-content-between">
                                        <p class="p-sku">Mã: PAD0694</p>
                                        <p class="p-qty conhang">Còn hàng </p> 
                                      </div>
                                        <a href="/pad-33-baymax" class="p-name">PAD 33 BAYMAX</a>
                        
                                        <div class="p-price-container">
                                            
                        
                                            <span class="p-price">
                                                 60.000<u>đ</u>
                                                
                                            </span>
                        
                                            <a href="javascript:void(0)" class="p-btn-cart" onclick="addProductToCart(3145, 0, '')"></a>
                                        </div>
                                    </div>
                                </div>
                                

                            </div>
                        </div>
                    </div>
                </div>

            </div>





            
        </main>


        <footer>
            <div class="global-footer-container loaded">
                <div class="container">
                    <div class="row footer-news-group">
                        <div class="col-6">
                            <div class="bg-white">
                                <div class="box-title">
                                    <p class="title">
                                        TIN TỨC &amp; SỰ KIỆN
                                        <span>Cập nhật thông tin công nghệ từ
                                            Lắc Đầu</span>
                                    </p>
                                    <a href="/tin-tuc">XEM THÊM <i
                                            class="fa fa-long-arrow-alt-right"
                                            aria-hidden="true"></i></a>
                                </div>
                                <div class="article-holder"
                                    style="min-height:760px">
                                    <div class="art-item">
                                        <a
                                            href="/tim-hieu-ve-cac-loai-plate-tren-ban-phim-co"
                                            class="art-img">
                                            <img
                                                src="./assets/media/news/2-tim-hieu-ve-cac-loai-plate-tren-ban-phim-co-04.jpg"
                                                alt="TÌM HIỂU VỀ CÁC LOẠI PLATE TRÊN BÀN PHÍM CƠ">
                                        </a>

                                        <div class="art-text">
                                            <p class="art-time js-art-time"
                                                data-time="30-06-2022, 10:41 am"><span>30.06</span>
                                                <b>2022</b></p>

                                            <a
                                                href="/tim-hieu-ve-cac-loai-plate-tren-ban-phim-co"
                                                class="art-title">TÌM HIỂU VỀ
                                                CÁC LOẠI PLATE TRÊN BÀN PHÍM CƠ</a>

                                            <div class="art-summary">Plate và
                                                PCB là 2 khái niệm có thể bạn đã
                                                từng thấy ở đâu [...] </div>
                                        </div>
                                    </div>
                                    <div class="art-item">
                                        <a
                                            href="/dich-vu-in-lot-chuot-theo-yeu-cau-tai-lac-dau"
                                            class="art-img">
                                            <img
                                                src="./assets/media/news/19-19-tuthietke.jpg"
                                                alt="DỊCH VỤ IN LÓT CHUỘT THEO YÊU CẦU TẠI LẮC ĐẦU">
                                        </a>

                                        <div class="art-text">
                                            <p class="art-time js-art-time"
                                                data-time="19-10-2022, 12:28 am"><span>19.10</span>
                                                <b>2022</b></p>

                                            <a
                                                href="/dich-vu-in-lot-chuot-theo-yeu-cau-tai-lac-dau"
                                                class="art-title">DỊCH VỤ IN LÓT
                                                CHUỘT THEO YÊU CẦU TẠI LẮC ĐẦU</a>

                                            <div class="art-summary"></div>
                                        </div>
                                    </div>
                                    <div class="art-item">
                                        <a
                                            href="/huong-dan-su-dung-ban-phim-co-akko-3098b-va-3098n"
                                            class="art-img">
                                            <img
                                                src="./assets/media/news/12-untitled-3-715x400.jpg"
                                                alt="CẦU NĂNG LƯỢNG TAY QUỶ PHÁT SÁNG">
                                        </a>

                                        <div class="art-text">
                                            <p class="art-time js-art-time"
                                                data-time="02-07-2022, 11:15 am"><span>02.07</span>
                                                <b>2022</b></p>

                                            <a
                                                href="/huong-dan-su-dung-ban-phim-co-akko-3098b-va-3098n"
                                                class="art-title">CẦU NĂNG LƯỢNG
                                                TAY QUỶ PHÁT SÁNG</a>

                                            <div class="art-summary"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="bg-white">
                                <div class="box-title box-video-title">
                                    <p class="title">YOUTUBE CHANNEL</p>

                                    <a
                                        href="https://www.youtube.com/channel/UC0kL-L4W-QBwgwqCv408J2A"
                                        target="_blank">XEM THÊM <i
                                            class="fa fa-long-arrow-alt-right"
                                            aria-hidden="true"></i></a>
                                </div>
                                <div class="video-holder"
                                    id="js-footer-video-holder">
                                    <a
                                        href="https://www.youtube.com/watch?v=IbynkPYszfY&amp;t=31s"
                                        data-fancybox>
                                        <img
                                            src="./assets/media/news/14-maxresdefault-2-711x400.jpg">

                                    </a>

                                    <a
                                        href="https://www.youtube.com/watch?v=wc56VEUHEf0&amp;t=274s"
                                        data-fancybox>
                                        <img
                                            src="./assets/media/news/18-maxresdefault--1-.jpg">

                                    </a>

                                    <a
                                        href="https://www.youtube.com/watch?v=pWXq_KMZzFg&amp;t=272s"
                                        data-fancybox>
                                        <img
                                            src="./assets/media/news/17-maxresdefault.jpg">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="footer-tag-group bg-white d-flex align-items-center flex-wrap">
                        <b>Tìm hiểu thêm: </b>
                        <a href="/lot-chuot">LÓT CHUỘT</a>
                        <a href="/gaming-gear">GAMING GEAR</a>
                        <a href="/phu-kien-may-tinh">PHỤ KIỆN MÁY TÍNH</a>
                        <a href="/mo-hinh">MÔ HÌNH</a>
                        <a href="/phu-kien-trang-tri">PHỤ KIỆN TRANG TRÍ</a>
                        <a href="/loa-micro-webcam">LOA, MICRO, WEBCAM</a>
                        <a href="/ghe-gaming">GHẾ GAMING</a>
                        <a href="/ban-gaming">BÀN GAMING</a>
                        <a href="/usb-bo-chia-tin-hieu">USB, BỘ CHIA TÍN HIỆU</a>
                        <a href="/tan-nhiet-cooling">TẢN NHIỆT, COOLING</a>
                        <a href="/phu-kien-dien-thoai">PHỤ KIỆN ĐIỆN THOẠI</a>
                    </div>
                </div>

                <div
                    class="footer-newsletter-group d-flex align-items-center justify-content-center bg-green text-white">
                    <i class="icons icon-mail"></i>
                    <p class="text">
                        <b class="d-block">NHẬN TIN KHUYẾN MÃI</b>
                        <span class="font-300 d-block">Bạn vui lòng để lại Email
                            để nhận thông tin <br>khuyến mãi từ Lắc Đầu</span>
                    </p>
                    <div class="newsletter-form position-relative">
                        <input type="text" id="js-email-newsletter"
                            class="newsletter-input"
                            placeholder="Nhập email đăng ký nhận tin khuyến mãi">
                        <a href="javascript:void(0)"
                            onclick="subscribe_newsletter('#js-email-newsletter')"
                            class="icons icon-submit"></a>
                    </div>
                </div>

                <div class="footer-info-group bg-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                <a href="/" class="footer-logo d-block">
                                    <img
                                        data-src="./assets/default/images/logo.png"
                                        alt="lắc đầu" width="1" height="1"
                                        class="lazy d-block loaded"
                                        src="./assets/default/images/logo.png"
                                        data-was-processed="true">
                                </a>
                                <p class="footer-address-item">
                                    <i class="icons icon-map"></i>
                                    <a
                                        href="https://goo.gl/maps/FraZok8EJTGYcxHc6"
                                        target="_blank">Số 15 Yên Lãng, Phường
                                        Trung Liệt, Quận Đống Đa, Hà Nội</a>
                                </p>
                                <p class="footer-address-item">
                                    <i class="icons icon-phone"></i>
                                    <a href="tel:0349296461">0349296461</a>
                                </p>
                                <p class="footer-address-item">
                                    <i class="icons icon-email"></i>
                                    <a href="mailTo:lacdaushop@gmail.com">lacdaushop@gmail.com</a>
                                </p>
                                <div class="footer-social-media">
                                    <a
                                        href="https://www.facebook.com/lacdaustore"
                                        class="icons icon-facebook"
                                        target="_blank" title="Facebook"></a>
                                    <a href="https://www.instagram.com/lac.dau/"
                                        class="icons icon-instagram"
                                        target="_blank" title="Instagram"></a>
                                    <a
                                        href="https://www.tiktok.com/@lacdaustore"
                                        class="icons icon-tiktok"
                                        target="_blank" title="Tiktok"></a>
                                    <a href="mailTo:lacdaushop@gmail.com"
                                        class="icons icon-mail" target="_blank"
                                        title="Email"></a>
                                    <a href="tel:0349296461"
                                        class="icons icon-phone" target="_blank"
                                        title="0349.296.461"></a>
                                    <a
                                        href="https://www.youtube.com/channel/UC0kL-L4W-QBwgwqCv408J2A"
                                        class="icons icon-youtube"
                                        target="_blank" title="Youtube"></a>
                                </div>
                            </div>
                            <div class="col-3 footer-info-item">
                                <p class="box-title">HỖ TRỢ KHÁCH HÀNG</p>
                                <div class="info-list">
                                    <a href="/huong-dan-mua-hang-truc-tuyen">Hướng
                                        dẫn mua hàng trực tuyến</a>
                                    <a href="/huong-dan-thanh-toan">Hướng dẫn
                                        thanh toán</a>
                                    <a href="/gui-yeu-cau-bao-hanh">Gửi yêu cầu
                                        bảo hành</a>
                                    <a href="/gop-y-khieu-nai">Góp ý, Khiếu Nại</a>

                                    <!--<a href="" class="footer-bct"><img data-src="/static/assets/default/images/bct.png" alt="BCT" width="1" height="1" class="lazy w-auto h-auto d-block"/> </a>-->
                                </div>
                            </div>
                            <div class="col-3 footer-info-item">
                                <p class="box-title">CHÍNH SÁCH CHUNG</p>

                                <div class="info-list">
                                    <a href="/chinh-sach-quy-dinh-chung">Chính
                                        sách, quy định chung</a>
                                    <a href="/chinh-sach-van-chuyen">Chính sách
                                        vận chuyển</a>
                                    <a href="/chinh-sach-bao-hanh">Chính sách
                                        bảo hành</a>
                                    <a href="/chinh-sach-doi-tra-va-hoan-tien">Chính
                                        sách đổi trả và hoàn tiền</a>
                                    <a href="/chinh-sach-xu-ly-khieu-nai">Chính
                                        sách xử lý khiếu nại</a>
                                    <a href="/bao-mat-thong-tin-khach-hang">Bảo
                                        mật thông tin khách hàng</a>
                                </div>
                            </div>
                            <div class="col-3 footer-info-item">
                                <p class="box-title">FANPAGE FACEBOOK</p>

                                <div class="info-list">
                                    <div class="fb-page fb_iframe_widget"
                                        data-href="https://www.facebook.com/lacdaustore"
                                        data-tabs data-width="391"
                                        data-height="150"
                                        data-small-header="false"
                                        data-adapt-container-width="true"
                                        data-hide-cover="false"
                                        data-show-facepile="true"
                                        fb-xfbml-state="rendered"
                                        fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=391&amp;height=150&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Flacdaustore&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=&amp;width=391"><span
                                            style="vertical-align: bottom; width: 391px; height: 130px;"><iframe
                                                name="f2c1f8fbb84d48"
                                                width="391px" height="150px"
                                                data-testid="fb:page Facebook Social Plugin"
                                                title="fb:page Facebook Social Plugin"
                                                frameborder="0"
                                                allowtransparency="true"
                                                allowfullscreen="true"
                                                scrolling="no"
                                                allow="encrypted-media"
                                                src="https://www.facebook.com/v13.0/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2957dc94a20bb8%26domain%3Dlacdau.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Flacdau.com%252Ff129dcf2cdb91b%26relation%3Dparent.parent&amp;container_width=391&amp;height=150&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Flacdaustore&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=&amp;width=391"
                                                style="border: none; visibility: visible; width: 391px; height: 130px;"
                                                class></iframe></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container"
                    style="line-height: 20px;color: #555;padding: 13px 6px;">
                    Chủ sở hữu: Hoàng Bình Minh<br>
                    Dự án website với NodeJS <br>
                    10 điểm<br>
                </div>

            </div>
        </footer>
        <script src="./js/mouse-click.js"></script>
        
         <script src="./js/cart-funtions.js"></script>

         
    </body>
</html>