<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/body.css">
    <link rel="stylesheet" href="./css/footer.css">
    <script src="./js/header.js"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
</head>

<body>
    <header>
        <div class="global-header-container text13">
            <div class="global-header-top-group font-500">
                <div class="container d-flex align-items-center justify-content-between position-relative">
                    <div class="global-header-left d-flex align-items-center">
                        <div class="item adress-hover"> <i class="fa-solid fa-map-pin"></i>Địa chỉ liên hệ
                            <div class="header-content-holder-left">
                            <div class="support-item">
                                <p class="title">Địa chỉ</p>
                                <a href="https://goo.gl/maps/8E9w4YJfEFf9hybN9" target="_blank">
                                <i class="green fas fa-map-marker-alt"style="color: #29A07E;" aria-hidden="true"></i> 
                                <span>Địa chỉ: Số 15 Yên Lãng, Phường Trung Liệt, Quận Đống Đa, Hà Nội</span>
                                </a>
                                <a href="tel:0349296461">
                                <i class="green fas fa-phone-alt"style="color: #29A07E;" aria-hidden="true"></i>
                                <span>Số điện thoại : 0349296461</span>
                                </a>
                                <a href="mailto:anh.nguyenhai213@gmail.com">
                                <i class="green fas fa-envelope" style="color: #29A07E;"aria-hidden="true"></i>
                                <span>Địa chỉ email : Lacdaushop@gmail.com</span>
                                </a>
                                <a href="javascript:void(0)">
                                <span>Giờ mở cửa: 8h30 - 21h30</span>
                                </a>
                            </div>
                            <div class="support-item">
                                <div class="position-relative loaded" id="js-load-map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3724.4854518231614!2d105.8163974!3d21.0132533!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab7d33b90bd5%3A0x9d9d6f5da32dda1e!2zMTUgUC5Zw6puIEzDo25nLCBUcnVuZyBMaeG7h3QsIMSQ4buRbmcgxJBhLCBIw6AgTuG7mWk!5e0!3m2!1svi!2s!4v1678960947364!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                            </div>
                        </div>
                        </div>
                        
                        <div class="item hotline-hover"> <i class="fa-solid fa-headset"></i> Hotline trực tuyến
                             <div class="header-content-holder-right">
                                <div class="support-item">
                                    <p class="title">Hotline</p>
                            
                                    <a href="tel:0349296461">
                                        <i class="green fas fa-phone-alt" aria-hidden="true"></i>
                                        <span>Số điện thoại : 0349296461</span>
                                    </a>
                            
                                    <a href="mailto:anh.nguyenhai213@gmail.com">
                                        <i class="green fas fa-envelope" aria-hidden="true"></i>
                                        <span>Địa chỉ email : Lacdaushop@gmail.com</span>
                                    </a>
                                </div>

                                <div class="support-item">
                                    <p class="title">Phòng kinh doanh - Tư vấn</p>
                            
                                    <a href="tel:0349296461">
                                        <i class="green fas fa-phone-alt" aria-hidden="true"></i>
                                        <span>Hotline : 0349.296.461</span>
                                    </a>
                            
                                    <a href="https://zalo.me/0349296461" target="_blank">
                                        <i class="green fas fa-phone-alt" aria-hidden="true"></i>
                                        <span   span>Zalo : 0349.296.461</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                       

                        <a href="https://shopee.vn/SA-35610180" class="title"> <i class="fa-brands fa-shopify"></i>
                            Shopee</a>

                        <a href="https://www.lazada.vn/shop/lacdaushop/" class="title"> <i class="fa-solid fa-store"></i>
                            Lazada</a>

                        <a href="https://www.instagram.com/lac.dau/" target="_blank" class="title">
                            <i class="fab fa-instagram"></i> Instagram
                        </a>
                        <a href="https://www.tiktok.com/@lacdaustore" target="_blank" class="title">
                            <i class="fab fa-tiktok"></i> Tiktok
                        </a>
                        <a href="https://www.youtube.com/channel/UC0kL-L4W-QBwgwqCv408J2A" target="_blank"
                            class="title">
                            <i class="fab fa-youtube"></i> Youtube
                        </a>
                        <a href="https://www.facebook.com/lacdaustore" target="_blank" class="title">
                            <i class="fab fa-facebook-square"></i> Facebook
                        </a>
                    </div>
                    <div class="global-header-right">
                        <a href="/tin-tuc" class="title"> <i class="fa-solid fa-bullhorn"></i> Tin tức</a>
                        <i class="fa-solid fa-circle-user"></i>
                        <% if(typeof data_user != "undefined" ){ %>
                            <a href="/tai-khoan" class="title"> Xin chào, <%= data_user[0].username %></a>
                        <% }else{ %>

                        <a href="/dang-ky">Đăng ký</a> &nbsp;/&nbsp;
                        <a href="/dang-nhap">Đăng nhập</a>
                        <% } %>
                        
                        
                    </div>
                </div>

            </div>
            <div class="global-header-bottom-group">
                 <div class="container d-flex align-items-center justify-content-between position-relative">
                    <a href="trang-chu" class="header-left-group">
                    <img src="./assets/default/images/logo.png" alt="Lắc đầu"  class="d-block m-auto h-auto w-auto"></a>
                    <div class="header-menu-group">
                        <div class="title">
                            <i class="fa-solid fa-list"></i> DANH MỤC
                        </div>
                        <div class="menu-list">
                            <div class="item item-hover-1">
                                <a href="/lot-chuot"  class="cat-1" style="color:black" >
                                    <i class="fa-regular fa-keyboard"></i>
                                    <span class="cat-title">LÓT CHUỘT</span>
                                </a>
                                <div class="sub-menu menu-hover-1">
                                
                                    <div class="sub-item">
                                        <a href="/lot-chuot-co-80x30" class="cat-2">LÓT CHUỘT CỠ 80X30</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/lot-chuot-co-90x30" class="cat-2">LÓT CHUỘT CỠ 90X40</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/lot-chuot-co-45x40" class="cat-2">LÓT CHUỘT CỠ 45X40</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/lot-chuot-co-80x40" class="cat-2">LÓT CHUỘT CỠ 80X40</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/lot-chuot-co-35x30" class="cat-2">LÓT CHUỘT CỠ 35X30</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/lot-chuot-co-26x21" class="cat-2">LÓT CHUỘT CỠ 26X21</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/lot-chuot-led" class="cat-2">LÓT CHUỘT LED</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/lot-chuot-silicon-3d" class="cat-2">LÓT CHUỘT SILICON 3D</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/lot-chuot-da" class="cat-2">LÓT CHUỘT DA</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/lot-chuot-in-theo-yeu-cau" class="cat-2">LÓT CHUỘT IN THEO YÊU CẦU</a>
                                        
                                    </div>
                                    
                                </div>
    
                            </div>
                            <div class="item item-hover-2">
                                <a href="/gaming-gear" class="cat-1" style="color:black">
                                    <i class="fa-solid fa-gamepad"></i>
                                    <span class="cat-title">GAMING GEAR</span>
                                </a>
                                <div class="sub-menu menu-hover-2">
                            
                                    <div class="sub-item">
                                        <a href="/ban-phim-gaming" class="cat-2">BÀN PHÍM GAMING</a>
                                        
                                        <a href="/ban-phim-co">BÀN PHÍM CƠ </a>
                                        
                                        <a href="/ban-phim-gia-co">BÀN PHÍM GIẢ CƠ </a>
                                        
                                        <a href="/ban-phim-khong-day">BÀN PHÍM KHÔNG DÂY </a>
                                        
                                        <a href="/bo-kit-phim-co">BỘ KIT PHÍM CƠ </a>
                                        
                                        <a href="/ban-phim-e-dra">BÀN PHÍM E-DRA </a>
                                        
                                        <a href="/ban-phim-dareu">BÀN PHÍM DAREU </a>
                                        
                                        <a href="/ban-phim-akko">BÀN PHÍM AKKO </a>
                                        
                                        <a href="/ban-phim-mofii">BÀN PHÍM MOFII </a>
                                        
                                        <a href="/ban-phim-newmen">BÀN PHÍM NEWMEN </a>
                                        
                                        <a href="/ban-phim-fl-esports">BÀN PHÍM FL ESPORTS </a>
                                        
                                        <a href="/ban-phim-iqunix">BÀN PHÍM IQUNIX </a>
                                        
                                        <a href="/ban-phim-fuhlen">BÀN PHÍM FUHLEN </a>
                                        
                                        <a href="/ban-phim-g-net">BÀN PHÍM G-NET </a>
                                        
                                        <a href="/ban-phim-mikit">BÀN PHÍM MIKIT </a>
                                        
                                        <a href="/ban-phim-cidoo">BÀN PHÍM CIDOO </a>
                                        
                                        <a href="/ban-phim-darmoshark">BÀN PHÍM DARMOSHARK </a>
                                        
                                        <a href="/ban-phim-havit">BÀN PHÍM HAVIT </a>
                                        
                                        <a href="/ban-phim-hang-khac">BÀN PHÍM HÃNG KHÁC </a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/chuot-gaming" class="cat-2">CHUỘT GAMING</a>
                                        
                                        <a href="/chuot-cam-day">CHUỘT CẮM DÂY </a>
                                        
                                        <a href="/chuot-khong-day">CHUỘT KHÔNG DÂY </a>
                                        
                                        <a href="/chuot-e-dra">CHUỘT E-DRA </a>
                                        
                                        <a href="/chuot-dareu">CHUỘT DAREU </a>
                                        
                                        <a href="/chuot-akko">CHUỘT AKKO </a>
                                        
                                        <a href="/chuot-newmen">CHUỘT NEWMEN </a>
                                        
                                        <a href="/chuot-havit">CHUỘT HAVIT </a>
                                        
                                        <a href="/chuot-fuhlen">CHUỘT FUHLEN </a>
                                        
                                        <a href="/chuot-razer">CHUỘT RAZER </a>
                                        
                                        <a href="/chuot-logitech">CHUỘT LOGITECH </a>
                                        
                                        <a href="/chuot-lightning">CHUỘT LIGHTNING </a>
                                        
                                        <a href="/chuot-hang-khac">CHUỘT HÃNG KHÁC </a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/tai-nghe" class="cat-2">TAI NGHE</a>
                                        
                                        <a href="/tai-nghe-cam-day">TAI NGHE CẮM DÂY </a>
                                        
                                        <a href="/tai-nghe-khong-day">TAI NGHE KHÔNG DÂY </a>
                                        
                                        <a href="/tai-nghe-e-dra">TAI NGHE E-DRA </a>
                                        
                                        <a href="/tai-nghe-dareu">TAI NGHE DAREU </a>
                                        
                                        <a href="/tai-nghe-zidli">TAI NGHE ZIDLI </a>
                                        
                                        <a href="/tai-nghe-havit">TAI NGHE HAVIT </a>
                                        
                                        <a href="/tai-nghe-g-net">TAI NGHE G-NET </a>
                                        
                                        <a href="/tai-nghe-hyperx">TAI NGHE HYPERX </a>
                                        
                                        <a href="/tai-nghe-razer">TAI NGHE RAZER </a>
                                        
                                        <a href="/tai-nghe-wangming">TAI NGHE WANGMING </a>
                                        
                                        <a href="/tai-nghe-lightning">TAI NGHE LIGHTNING </a>
                                        
                                        <a href="/tai-nghe-hang-khac">TAI NGHE HÃNG KHÁC </a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/tay-cam-choi-game" class="cat-2">TAY CẦM CHƠI GAME</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/switch-phim-co" class="cat-2">SWITCH PHÍM CƠ</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/day-cap-custome" class="cat-2">DÂY CÁP CUSTOME</a>
                                        
                                    </div>
                                    
                                </div>
                               
                            </div>

                            <div class="item item-hover-3">
                                <a href="/phu-kien-may-tinh" class="cat-1" style="color: black;">
                                    <i class="fa-solid fa-display"></i>
                                    <span class="cat-title">PHỤ KIỆN MÁY TÍNH</span>
                                </a>
                                
                                
                                <div class="sub-menu menu-hover-3">
                                    
                                    <div class="sub-item">
                                        <a href="/keycap-phim-co-bo" class="cat-2">KEYCAP PHÍM CƠ BỘ</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/keycap-phim-co-le" class="cat-2">KEYCAP PHÍM CƠ LẺ</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/ke-tay-ban-phim" class="cat-2">KÊ TAY BÀN PHÍM</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/bungee-do-day-chuot" class="cat-2">BUNGEE - ĐỠ DÂY CHUỘT</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/gia-treo-tai-nghe" class="cat-2">GIÁ TREO TAI NGHE</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/gia-do-vga" class="cat-2">GIÁ ĐỠ VGA</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/gia-treo-man-hinh" class="cat-2">GIÁ TREO MÀN HÌNH</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/gia-do-dien-thoai-laptop" class="cat-2">GIÁ ĐỠ ĐIỆN THOẠI - LAPTOP</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/ve-sinh-lam-gon" class="cat-2">VỆ SINH - LÀM GỌN</a>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <div class="item item-hover-4">
                                <a href="/mo-hinh" class="cat-1">
                                    <i class="fa-solid fa-box"></i>
                                    <span class="cat-title">MÔ HÌNH</span>
                                </a>
                                
                                
                                <div class="sub-menu menu-hover-4">
                                    
                                    <div class="sub-item">
                                        <a href="/mo-hinh-anime" class="cat-2">MÔ HÌNH ANIME</a>
                                        
                                        <a href="/mo-hinh-doraemon">MÔ HÌNH DORAEMON </a>
                                        
                                        <a href="/mo-hinh-hunter-x-hunter">MÔ HÌNH HUNTER X HUNTER </a>
                                        
                                        <a href="/mo-hinh-pokemon">MÔ HÌNH POKEMON </a>
                                        
                                        <a href="/mo-hinh-one-punch-man">MÔ HÌNH ONE PUNCH MAN </a>
                                        
                                        <a href="/mo-hinh-attack-on-titan">MÔ HÌNH ATTACK ON TITAN </a>
                                        
                                        <a href="/mo-hinh-spy-x-family">MÔ HÌNH SPY X FAMILY </a>
                                        
                                        <a href="/mo-hinh-inuyasha">MÔ HÌNH INUYASHA </a>
                                        
                                        <a href="/mo-hinh-my-hero-academia">MÔ HÌNH MY HERO ACADEMIA </a>
                                        
                                        <a href="/mo-hinh-jujutsu-kaisen">MÔ HÌNH JUJUTSU KAISEN </a>
                                        
                                        <a href="/mo-hinh-demon-slayer">MÔ HÌNH DEMON SLAYER </a>
                                        
                                        <a href="/mo-hinh-naruto">MÔ HÌNH NARUTO </a>
                                        
                                        <a href="/mo-hinh-dragon-ball">MÔ HÌNH DRAGON BALL </a>
                                        
                                        <a href="/mo-hinh-one-piece">MÔ HÌNH ONE PIECE </a>
                                        
                                        <a href="/mo-hinh-anime-khac">MÔ HÌNH ANIME KHÁC </a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/mo-hinh-xe-o-to" class="cat-2">MÔ HÌNH XE Ô TÔ</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/mo-hinh-sieu-anh-hung" class="cat-2">MÔ HÌNH SIÊU ANH HÙNG</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/mo-hinh-lac-dau" class="cat-2">MÔ HÌNH LẮC ĐẦU</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/mo-hinh-sec-si" class="cat-2">MÔ HÌNH SÉC SI</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/mo-hinh-decor" class="cat-2">MÔ HÌNH DECOR</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/mo-hinh-game" class="cat-2">MÔ HÌNH GAME</a>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <div class="item item-hover-5">
                                <a href="/phu-kien-trang-tri" class="cat-1">
                                    <i class="fa-solid fa-snowman"></i>
                                    <span class="cat-title">PHỤ KIỆN TRANG TRÍ</span>
                                </a>
                                
                                
                                <div class="sub-menu menu-hover-5">
                                    
                                    <div class="sub-item">
                                        <a href="/do-decor" class="cat-2">ĐỒ DECOR</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/day-led-thanh-led" class="cat-2">DÂY LED - THANH LED</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/dong-ho" class="cat-2">ĐỒNG HỒ</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/den-ban-den-ngu" class="cat-2">ĐÈN BÀN, ĐÈN NGỦ</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/do-choi-cong-nghe" class="cat-2">ĐỒ CHƠI CÔNG NGHỆ</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/poster-hinh-dan" class="cat-2">POSTER - HÌNH DÁN</a>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <div class="item item-hover-6">
                                <a href="/loa-micro-webcam" class="cat-1">
                                    <i class="fa-solid fa-radio"></i>
                                    <span class="cat-title">LOA, MICRO, WEBCAM</span>
                                </a>
                                
                                
                                <div class="sub-menu menu-hover-6">
                                    
                                    <div class="sub-item">
                                        <a href="/loa-may-tinh" class="cat-2">LOA MÁY TÍNH</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/loa-blutooth" class="cat-2">LOA BLUTOOTH</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/microphone-thu-am" class="cat-2">MICROPHONE THU ÂM</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/webcam-may-tinh" class="cat-2">WEBCAM MÁY TÍNH</a>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <div class="item item-hover-7">
                                <a href="/ghe-gaming" class="cat-1">
                                    <i class="fa-solid fa-chair"></i>
                                    <span class="cat-title">GHẾ GAMING</span>
                                </a>
                                
                                
                                <div class="sub-menu menu-hover-7">
                                    
                                    <div class="sub-item">
                                        <a href="/ghe-cong-thai-hoc" class="cat-2">GHẾ CÔNG THÁI HỌC</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/ghe-e-dra" class="cat-2">GHẾ E-DRA</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/ghe-warrior" class="cat-2">GHẾ WARRIOR</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/ghe-viking" class="cat-2">GHẾ VIKING</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/ghe-zero-extreme" class="cat-2">GHẾ ZERO EXTREME</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/ghe-sihoo" class="cat-2">GHẾ SIHOO</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/ghe-hang-khac" class="cat-2">GHẾ HÃNG KHÁC</a>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <div class="item item-hover-8">
                                <a href="/ban-gaming" class="cat-1">
                                    <i class="fa-regular fa-object-group"></i>
                                    <span class="cat-title">BÀN GAMING</span>
                                </a>
                                
                                
                                <div class="sub-menu menu-hover-8">
                                    
                                    <div class="sub-item">
                                        <a href="/ban-gaming-e-dra" class="cat-2">BÀN GAMING E-DRA</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/ban-gaming-warrior" class="cat-2">BÀN GAMING WARRIOR</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/ban-gaming-mat-go" class="cat-2">BÀN GAMING MẶT GỖ</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/ban-gaming-mat-kinh" class="cat-2">BÀN GAMING MẶT KÍNH</a>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <div class="item item-hover-9">
                                <a href="/usb-bo-chia-tin-hieu" class="cat-1">
                                    <i class="fa-brands fa-usb"></i>
                                    <span class="cat-title">USB, BỘ CHIA TÍN HIỆU</span>
                                </a>
                                
                                
                                <div class="sub-menu menu-hover-9">
                                    
                                    <div class="sub-item">
                                        <a href="/usb" class="cat-2">USB</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/usb-hub" class="cat-2">USB HUB</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/cap-tin-hieu" class="cat-2">CÁP TÍN HIỆU</a>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <div class="item item-hover-10">
                                <a href="/tan-nhiet-cooling" class="cat-1">
                                    <i class="fa-solid fa-fan"></i>
                                    <span class="cat-title">TẢN NHIỆT, COOLING</span>
                                </a>
                                
                                
                                <div class="sub-menu menu-hover-10">
                                    
                                    <div class="sub-item">
                                        <a href="/tan-nhiet-laptop" class="cat-2">TẢN NHIỆT LAPTOP</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/tan-nhiet-cpu" class="cat-2">TẢN NHIỆT CPU</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/quat-case-fan-case" class="cat-2">QUẠT CASE - FAN CASE</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/tan-nhiet-ram" class="cat-2">TẢN NHIỆT RAM</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/led-trang-tri-case" class="cat-2">LED TRANG TRÍ CASE</a>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <div class="item item-hover-11">
                                <a href="/phu-kien-dien-thoai" class="cat-1">
                                    <i class="fa-solid fa-mobile-screen-button"></i>
                                    <span class="cat-title">PHỤ KIỆN ĐIỆN THOẠI</span>
                                </a>
                                
                                
                                <div class="sub-menu menu-hover-11">
                                    
                                    <div class="sub-item">
                                        <a href="/day-cap-dien-thoai" class="cat-2">DÂY CÁP ĐIỆN THOẠI</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/cu-sac-dien-thoai" class="cat-2">CỦ SẠC ĐIỆN THOẠI</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/combo-sac-cap-dien-thoai" class="cat-2">COMBO SẠC CÁP ĐIỆN THOẠI</a>
                                        
                                    </div>
                                    
                                    <div class="sub-item">
                                        <a href="/sac-du-phong" class="cat-2">SẠC DỰ PHÒNG</a>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>


                        </div>
                    </div>
                    

                    <div class="header-search-group">
                        <form method="get" action="/tim" name="search" class="search-input-group bg-white position-relative">
                            <button type="submit" class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
                            <input type="text" id="js-seach-input" name="q" placeholder="Bạn cần tìm gì?" value="" autocomplete="off" class="text-search">                        
                        </form>
                    </div>
                    <div class="header-right-group">
                        <div class="item">
                            <i class="fa-solid fa-phone-volume fa-bounce" style="color: #29A07E;"></i>
                            <a href="tel:0349.296.461" class="text font-700">
                                <span span class="font-400">Hotline</span>
                                <b>0349.296.461</b>
                            </a>
                        </div>
                         <div class="item">
                            <i class="fa-solid fa-bolt-lightning" style="color: #29A07E;"></i>
                            <a href="https://www.messenger.com/t/1684408595122637" target="_blank" class="text font-500">Tư vấn trực tiếp</a>
                        </div>
                        <div class="item item-cart position-relative" id="cart">
                            <a href="/cart" class="icons icon-cart">
                                <% if(typeof data_user != "undefined" ){ %>
                                <span class="cart-count js-cart-count" id="cart-count"><%= count_cart[0].so_luong %></span>
                                <% }else{ %>
                                <span class="cart-count js-cart-count" id="cart-count">0</span>
                                <% } %>
                            </a>
                            <a href="/cart" class="font-700">Giỏ hàng</a>
                            <div class="header-cart-hover loaded" id="js-header-cart-holder">
                                <% if(typeof data_cart != "undefined" ){ %>
                                    <div class="cart-items-holder">
                                        <% data_cart.forEach(item=> { %>
                                        <div class="cart-item">
                                            <a href="/pad-33-sleep-bear" class="cart-img">
                                                <img src="<%= item.anh%>">
                                                
                                            </a>
                                            <div class="cart-text">
                                                <a href="/pad-33-sleep-bear" class="d-block font-700" style="margin-bottom: 5px"><%= item.ten%></a>
                                            
                                                <p class="m-0 d-flex justify-content-between">
                                                    <b>x1</b>
                                                    <b class="red"><%= item.gia_tien%> đ</b>
                                                </p>
                                            </div>
                                        </div>
                                        <% }); %>
                                        <!-- <div class="cart-item">
                                            <a href="/pad-22-many-cat" class="cart-img">
                                                <img src="./assets/media/product/250-1391-53424e5247a21b79417d566bc2869499.jpg">
                                                
                                            </a>
                                            <div class="cart-text">
                                                <a href="/pad-22-many-cat" class="d-block font-700" style="margin-bottom: 5px; justify-content: start;">PAD 22 MANY CAT</a>
                                                
                                                  
                                              
                                                <p class="m-0 d-flex justify-content-between">
                                                    <b>x1</b>
                                                    <b class="red">35.000 đ</b>
                                                </p>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="cart-price-hover">
                                        <p class="grey font-300 m-0 text-right">
                                            Tổng tiền hàng
                                            (<span class="red"><span class="js-cart-count"><%= count_cart[0].so_luong %></span> sản phẩm</span>):
                                            <span class="red text-18 font-600" style="vertical-align: top;">
                                                <%= tong_gia_tien[0].gia_tien %>.000đ
                                                
                                            </span>
                                        </p>
                                
                                        <a href="/cart" class="d-block text-center text-white btn-goCart"> THANH TOÁN NGAY </a>
                                    </div>

                                <% } else{ %>
                                    <b class="d-block text-center p-4">Có 0 sản phẩm trong giỏ hàng</b>
                               
                                <% } %>
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           


        </div>
    </header>


    <main>
        <div class="homepage container">
            <div class="home-banner-group hover-img">
                <div class="home-slider-holder">
                    <div class="slider-container">
                        <div class="banner-img-1"><img src="./assets/media/banner/09_Jul9860edbd0f637428e39fde95121313ed.png" alt="" srcset=""></div>
                    </div>
                </div>
                <div class="home-right-holder">
                    <a href="">
                        <img src="./assets/media/banner/04_Jul7f64f21fb6ba6d30b7932b6ad017b870.png" alt="banner" width="310" height="185" class="lazy loaded"  data-was-processed="true">
                    </a>
                    <a href="">
                        <img src="./assets/media/banner/04_Julbc98282e1bb9acf041f8c94b05ccdfcb.png" alt="banner" width="310" height="185" class="lazy loaded"  data-was-processed="true">
                    </a>
                    <a href="">
                        <img src="./assets/media/banner/04_Jul58a3f59ace6732aceb452a6e387c0c20.png" alt="banner" width="310" height="185" class="lazy loaded"  data-was-processed="true">
                    </a>
                </div>
                <div class="home-under-holder">
                    <a href="">
                        <img src="./assets/media/banner/04_Jul6bacdcd6a63d8b6a4e46c8337fc12342.png" alt="banner" width="418" height="250" class="lazy loaded"  data-was-processed="true">
                    </a>
                    <a href="">
                        <img src="./assets/media/banner/04_Jula2b2fecb48c5967badfe4d137f8508ec.png" alt="banner" width="418" height="250" class="lazy loaded"  data-was-processed="true">
                    </a>
                    
                    <a href="">
                        <img src="./assets/media/banner/04_Jul476c025120f6806e9d46a90f17cebbdf.png" alt="banner" width="418" height="250" class="lazy loaded"  data-was-processed="true">
                    </a>
                </div>
            </div>
            <div class="home-collection-group lazy loaded" data-bg="url(https://lacdau.com/static/assets/default/images/home-bg-collection.png)" data-was-processed="true" style="background-image: url(&quot;https://lacdau.com/static/assets/default/images/home-bg-collection.png&quot;);">
                <div class="box-title-group">
                    <a href="/collection/sale-back-to-school" data-id="1">HÀNG SALE THANH LÝ ĐẶC BIỆT MỪNG 200.000 LIKE FANPAGE FACEBOOK</a>
                    <a href="/collection/chuot-gaming" data-id="3">CHUỘT GAMING</a>
                    <a href="/collection/ban-phim-gaming" data-id="2">BÀN PHÍM GAMING</a>
                    <a href="/collection/tai-nghe" data-id="4">TAI NGHE</a>
                    <a href="/collection/loa" data-id="5">LOA</a>
                    <a href="/collection/ghe-gaming" data-id="7">GHẾ GAMING</a>
                    <a href="/collection/ban-gaming" data-id="6">BÀN GAMING</a>
                </div>
                <div class="p-container position-relative" id="js-collection-holder">
                    <div class="item">
                        <img src="./assets/media/product/250-1389-cee443f13b710b757de6b494265fc813.jpg" style="width: 230px; height: 230px;" alt="">
                        <span>Mã: KCB0061</span>
                        <span style="color: #29A07E;">Còn hàng</span>
                        <!-- <span style="color: red;">Hết hàng</span> -->
                        <div class="product-detail">
                            BỘ KEYCAP AKKO 9009 PBT SUBLIMATION
                        </div>
                        <div class="product-count">
                            <span>390.000đ</span>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-cart-plus" style="color: white;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./assets/media/product/250-1381-e24e29c90c14a56a717d6c0d9201021b.jpg" style="width: 230px; height: 230px;" alt="">
                        <span>Mã: KCB0064</span>
                        <!-- <span style="color: #29A07E;">Còn hàng</span> -->
                        <span style="color: red;">Hết hàng</span>
                        <div class="product-detail">
                            BỘ KEYCAP AKKO WORLD TOUR TOKYO PBT SUBLIMATION
                        </div>
                        <div class="product-count">
                            <span>390.000đ</span>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-cart-plus" style="color: white;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./assets/media/product/250-1382-6d2d77ddcf570fb9b77173c844e0d945.png" style="width: 230px; height: 230px;" alt="">
                        <span>Mã: KCB0061</span>
                        <span style="color: #29A07E;">Còn hàng</span>
                        <!-- <span style="color: red;">Hết hàng</span> -->
                        <div class="product-detail">
                            BỘ KEYCAP AKKO 9009 PBT SUBLIMATION
                        </div>
                        <div class="product-count">
                            <span>390.000đ</span>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-cart-plus" style="color: white;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./assets/media/product/250-1391-53424e5247a21b79417d566bc2869499.jpg" style="width: 230px; height: 230px;" alt="">
                        <span>Mã: KCB0061</span>
                        <span style="color: #29A07E;">Còn hàng</span>
                        <!-- <span style="color: red;">Hết hàng</span> -->
                        <div class="product-detail">
                            BỘ KEYCAP AKKO 9009 PBT SUBLIMATION
                        </div>
                        <div class="product-count">
                            <span>390.000đ</span>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-cart-plus" style="color: white;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./assets/media/product/250-1390-9fb336f74cfe798312d0f43c802758bc.jpg" style="width: 230px; height: 230px;" alt="">
                        <span>Mã: KCB0061</span>
                        <span style="color: #29A07E;">Còn hàng</span>
                        <!-- <span style="color: red;">Hết hàng</span> -->
                        <div class="product-detail">
                            BỘ KEYCAP AKKO 9009 PBT SUBLIMATION
                        </div>
                        <div class="product-count">
                            <span>390.000đ</span>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-cart-plus" style="color: white;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./assets/media/product/250-1344-6a0edd6e49141478a9a5ae0d28640682.jpg" style="width: 230px; height: 230px;" alt="">
                        <span>Mã: KCB0061</span>
                        <span style="color: #29A07E;">Còn hàng</span>
                        <!-- <span style="color: red;">Hết hàng</span> -->
                        <div class="product-detail">
                            BỘ KEYCAP AKKO 9009 PBT SUBLIMATION
                        </div>
                        <div class="product-count">
                            <span>390.000đ</span>
                            <div class="add-to-cart">
                                <i class="fa-solid fa-cart-plus" style="color: white;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/collection/sale-back-to-school" class="btn-collection" id="js-collection-link" title="HÀNG SALE THANH LÝ ĐẶC BIỆT MỪNG 200.000 LIKE FANPAGE FACEBOOK">XEM THÊM <i class="fa fa-long-arrow-alt-right" aria-hidden="true"></i></a>

            </div>
            <div class="home-p-category-group">
                <p class="box-title">XU HƯỚNG MUA SẮM</p>
                <div class="d-flex flex-wrap">
                    <a href="/ban-phim-gaming" class="item">
                        <img data-src="./assets/media/lib/1.png" alt="" width="350" height="170" class="lazy loaded" src="./assets/media/lib/1.png" data-was-processed="true">
                    
                        <p class="text">
                            <span>Bàn phím gaming</span>
                            <span class="green">Giảm đến 30%</span>
                    
                            <i class="icon-arrow"></i>
                        </p>
                    </a>
                    <a href="/chuot-gaming" class="item">
                        <img data-src="./assets/media/lib/group75.png" alt="" width="350" height="170" class="lazy loaded" src="./assets/media/lib/group75.png" data-was-processed="true">
                    
                        <p class="text">
                            <span>Chuột gaming</span>
                            <span class="green">Ưu đãi chỉ từ 100k</span>
                    
                            <i class="icon-arrow"></i>
                        </p>
                    </a>
                    <a href="/tai-nghe" class="item">
                        <img data-src="./assets/media/lib/2.png" alt="" width="350" height="170" class="lazy loaded" src="./assets/media/lib/2.png" data-was-processed="true">
                    
                        <p class="text">
                            <span>Tai nghe gaming</span>
                            <span class="green">Ưu đãi chỉ từ 100k</span>
                    
                            <i class="icon-arrow"></i>
                        </p>
                    </a>
                    <a href="/loa-may-tinh" class="item">
                        <img data-src="./assets/media/lib/3.png" alt="" width="350" height="170" class="lazy loaded" src="./assets/media/lib/3.png" data-was-processed="true">
                    
                        <p class="text">
                            <span>Loa gaming</span>
                            <span class="green">Giảm đến 40%</span>
                    
                            <i class="icon-arrow"></i>
                        </p>
                    </a>

                </div>
            </div>



        </div>
    </main>

    <footer>
        <div class="global-footer-container loaded">
            <div class="container">
                <div class="row footer-news-group">
                    <div class="col-6">
                        <div class="bg-white">
                            <div class="box-title">
                                <p class="title">
                                    TIN TỨC &amp; SỰ KIỆN
                                    <span>Cập nhật thông tin công nghệ từ Lắc Đầu</span>
                                </p>
                                <a href="/tin-tuc">XEM THÊM <i class="fa fa-long-arrow-alt-right" aria-hidden="true"></i></a>
                            </div>
                            <div class="article-holder" style="min-height:760px">
                                <div class="art-item">
                                    <a href="/tim-hieu-ve-cac-loai-plate-tren-ban-phim-co" class="art-img">
                                        <img src="./assets/media/news/2-tim-hieu-ve-cac-loai-plate-tren-ban-phim-co-04.jpg" alt="TÌM HIỂU VỀ CÁC LOẠI PLATE TRÊN BÀN PHÍM CƠ">
                                    </a>
                        
                                    <div class="art-text">
                                        <p class="art-time js-art-time" data-time="30-06-2022, 10:41 am"><span>30.06</span> <b>2022</b></p>
                        
                                        <a href="/tim-hieu-ve-cac-loai-plate-tren-ban-phim-co" class="art-title">TÌM HIỂU VỀ CÁC LOẠI PLATE TRÊN BÀN PHÍM CƠ</a>
                        
                                        <div class="art-summary">Plate và PCB là 2 khái niệm có thể bạn đã từng thấy ở đâu [...]     </div>
                                    </div>
                                </div>
                                <div class="art-item">
                                    <a href="/dich-vu-in-lot-chuot-theo-yeu-cau-tai-lac-dau" class="art-img">
                                        <img src="./assets/media/news/19-19-tuthietke.jpg" alt="DỊCH VỤ IN LÓT CHUỘT THEO YÊU CẦU TẠI LẮC ĐẦU">
                                    </a>
                        
                                    <div class="art-text">
                                        <p class="art-time js-art-time" data-time="19-10-2022, 12:28 am"><span>19.10</span> <b>2022</b></p>
                        
                                        <a href="/dich-vu-in-lot-chuot-theo-yeu-cau-tai-lac-dau" class="art-title">DỊCH VỤ IN LÓT CHUỘT THEO YÊU CẦU TẠI LẮC ĐẦU</a>
                        
                                        <div class="art-summary"></div>
                                    </div>
                                </div>
                                <div class="art-item">
                                    <a href="/huong-dan-su-dung-ban-phim-co-akko-3098b-va-3098n" class="art-img">
                                        <img src="./assets/media/news/12-untitled-3-715x400.jpg" alt="CẦU NĂNG LƯỢNG TAY QUỶ PHÁT SÁNG">
                                    </a>
                        
                                    <div class="art-text">
                                        <p class="art-time js-art-time" data-time="02-07-2022, 11:15 am"><span>02.07</span> <b>2022</b></p>
                        
                                        <a href="/huong-dan-su-dung-ban-phim-co-akko-3098b-va-3098n" class="art-title">CẦU NĂNG LƯỢNG TAY QUỶ PHÁT SÁNG</a>
                        
                                        <div class="art-summary"></div>
                                    </div>
                                </div>
                                
                                

                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="bg-white">
                            <div class="box-title box-video-title">
                                <p class="title">YOUTUBE CHANNEL</p>
            
                                <a href="https://www.youtube.com/channel/UC0kL-L4W-QBwgwqCv408J2A" target="_blank">XEM THÊM <i class="fa fa-long-arrow-alt-right" aria-hidden="true"></i></a>
                            </div>
                            <div class="video-holder" id="js-footer-video-holder">
                                <a href="https://www.youtube.com/watch?v=IbynkPYszfY&amp;t=31s" data-fancybox="">
                                     <img src="./assets/media/news/14-maxresdefault-2-711x400.jpg">
                                    
                                </a>  
                            
                                <a href="https://www.youtube.com/watch?v=wc56VEUHEf0&amp;t=274s" data-fancybox="">
                                     <img src="./assets/media/news/18-maxresdefault--1-.jpg">
                                    
                                </a>  
                            
                                <a href="https://www.youtube.com/watch?v=pWXq_KMZzFg&amp;t=272s" data-fancybox="">
                                     <img src="./assets/media/news/17-maxresdefault.jpg">
                                    
                                </a>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-tag-group bg-white d-flex align-items-center flex-wrap">
                    <b>Tìm hiểu thêm: </b>
                    <a href="/lot-chuot">LÓT CHUỘT</a>
                    <a href="/gaming-gear">GAMING GEAR</a>
                    <a href="/phu-kien-may-tinh">PHỤ KIỆN MÁY TÍNH</a>
                    <a href="/mo-hinh">MÔ HÌNH</a>
                    <a href="/phu-kien-trang-tri">PHỤ KIỆN TRANG TRÍ</a>
                    <a href="/loa-micro-webcam">LOA, MICRO, WEBCAM</a>
                    <a href="/ghe-gaming">GHẾ GAMING</a>
                    <a href="/ban-gaming">BÀN GAMING</a>
                    <a href="/usb-bo-chia-tin-hieu">USB, BỘ CHIA TÍN HIỆU</a>
                    <a href="/tan-nhiet-cooling">TẢN NHIỆT, COOLING</a>
                    <a href="/phu-kien-dien-thoai">PHỤ KIỆN ĐIỆN THOẠI</a>
                </div>
            </div>

            <div class="footer-newsletter-group d-flex align-items-center justify-content-center bg-green text-white">
                <i class="icons icon-mail"></i>
                <p class="text">
                    <b class="d-block">NHẬN TIN KHUYẾN MÃI</b>
                    <span class="font-300 d-block">Bạn vui lòng để lại Email để nhận thông tin <br>khuyến mãi từ Lắc Đầu</span>
                </p>
                <div class="newsletter-form position-relative">
                    <input type="text" id="js-email-newsletter" class="newsletter-input" placeholder="Nhập email đăng ký nhận tin khuyến mãi">
                    <a href="javascript:void(0)" onclick="subscribe_newsletter('#js-email-newsletter')" class="icons icon-submit"></a>
                </div>
            </div>

            <div class="footer-info-group bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <a href="/" class="footer-logo d-block">
                                <img data-src="./assets/default/images/logo.png" alt="lắc đầu" width="1" height="1" class="lazy d-block loaded" src="./assets/default/images/logo.png" data-was-processed="true">
                            </a>
                            <p class="footer-address-item">
                                <i class="icons icon-map"></i>
                                <a href="https://goo.gl/maps/FraZok8EJTGYcxHc6" target="_blank">Số 15 Yên Lãng, Phường Trung Liệt, Quận Đống Đa, Hà Nội</a>
                            </p>
                            <p class="footer-address-item">
                                <i class="icons icon-phone"></i>
                                <a href="tel:0349296461">0349296461</a>
                            </p>
                            <p class="footer-address-item">
                                <i class="icons icon-email"></i>
                                <a href="mailTo:lacdaushop@gmail.com">lacdaushop@gmail.com</a>
                            </p>
                            <div class="footer-social-media">
                                <a href="https://www.facebook.com/lacdaustore" class="icons icon-facebook" target="_blank" title="Facebook"></a>
                                <a href="https://www.instagram.com/lac.dau/" class="icons icon-instagram" target="_blank" title="Instagram"></a>
                                <a href="https://www.tiktok.com/@lacdaustore" class="icons icon-tiktok" target="_blank" title="Tiktok"></a>
                                <a href="mailTo:lacdaushop@gmail.com" class="icons icon-mail" target="_blank" title="Email"></a>
                                <a href="tel:0349296461" class="icons icon-phone" target="_blank" title="0349.296.461"></a>
                                <a href="https://www.youtube.com/channel/UC0kL-L4W-QBwgwqCv408J2A" class="icons icon-youtube" target="_blank" title="Youtube"></a>
                            </div>
                        </div>
                        <div class="col-3 footer-info-item">
                            <p class="box-title">HỖ TRỢ KHÁCH HÀNG</p>
                            <div class="info-list">
                                <a href="/huong-dan-mua-hang-truc-tuyen">Hướng dẫn mua hàng trực tuyến</a>
                                <a href="/huong-dan-thanh-toan">Hướng dẫn thanh toán</a>  
                                <a href="/gui-yeu-cau-bao-hanh">Gửi yêu cầu bảo hành</a>
                                <a href="/gop-y-khieu-nai">Góp ý, Khiếu Nại</a>
        
                                <!--<a href="" class="footer-bct"><img data-src="/static/assets/default/images/bct.png" alt="BCT" width="1" height="1" class="lazy w-auto h-auto d-block"/> </a>-->
                            </div>
                        </div>
                        <div class="col-3 footer-info-item">
                            <p class="box-title">CHÍNH SÁCH CHUNG</p>
        
                            <div class="info-list">
                                <a href="/chinh-sach-quy-dinh-chung">Chính sách, quy định chung</a>
                                <a href="/chinh-sach-van-chuyen">Chính sách vận chuyển</a>
                                <a href="/chinh-sach-bao-hanh">Chính sách bảo hành</a>
                                <a href="/chinh-sach-doi-tra-va-hoan-tien">Chính sách đổi trả và hoàn tiền</a>
                                <a href="/chinh-sach-xu-ly-khieu-nai">Chính sách xử lý khiếu nại</a>
                                <a href="/bao-mat-thong-tin-khach-hang">Bảo mật thông tin khách hàng</a>
                            </div>
                        </div>
                        <div class="col-3 footer-info-item">
                            <p class="box-title">FANPAGE FACEBOOK</p>
        
                            <div class="info-list">
                                <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/lacdaustore" data-tabs="" data-width="391" data-height="150" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=391&amp;height=150&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Flacdaustore&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=&amp;width=391"><span style="vertical-align: bottom; width: 391px; height: 130px;"><iframe name="f2c1f8fbb84d48" width="391px" height="150px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v13.0/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2957dc94a20bb8%26domain%3Dlacdau.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Flacdau.com%252Ff129dcf2cdb91b%26relation%3Dparent.parent&amp;container_width=391&amp;height=150&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Flacdaustore&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=&amp;width=391" style="border: none; visibility: visible; width: 391px; height: 130px;" class=""></iframe></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="line-height: 20px;color: #555;padding: 13px 6px;">
                Chủ sở hữu: Hoàng Bình Minh<br>
                Dự án website với NodeJS  <br>
                10 điểm<br>
            </div>
           
        </div>
    </footer>
</body>

</html>